//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.moj-header__container {
  max-width: 1280px;
}

.app-destructive-link {
    &.govuk-link {
      color: govuk-colour("red");
    }
    &.govuk-link:focus {
        color: govuk-colour("black");
      }
}

.app-resubmit-link {
  &.govuk-link {
    color: #942514;
  }
  &.govuk-link:focus {
      color: govuk-colour("black");
    }
}

.app-font-colour-red {
    color: govuk-colour("red");
}

.autocomplete__input {
  background-color: #fff;
}



.govuk-input--width-50 {
  max-width: 49.5em;
}

.govuk-input--width-40 {
  max-width: 39.5em;
}

.govuk-input--width-30 {
  max-width: 29.5em;
}

.in-review {
  min-width: 200px;
  float: left;
  display: block;
}


