//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


// body {
//     font-family: "Roboto", arial, sans-serif;
// }

// .govuk-heading-l  {
//     font-family: "Roboto", arial, sans-serif;
// }

// p, .govuk-body, a, .govuk-link {
//     font-family: "Roboto", arial, sans-serif;
// }

// .govuk-width-container {
//     min-width: 1280px;
//     max-width: 1400px;
// }


// @media only screen and (min-width: 1280px) {
// .govuk-width-container {
//     margin-right: 30px;
//     margin-left: 30px;
// }
// }

.app-destructive-link {
    &.govuk-link {
      color: govuk-colour("red");
    }
    &.govuk-link:focus {
        color: govuk-colour("black");
      }
}

.app-font-colour-red {
    color: govuk-colour("red");
}

// @media (min-width: 40.0625em) {

// .search-container {
//   display: flex;
//   align-items: flex-end; /* Aligns items to the end of the container vertically */
//   gap: 10px; /* Creates space between the input and the button */
// }

// .search-input {
//   flex-grow: 1; /* Allows the input to grow and fill available space */
//   margin-right: 10px; /* Ensures there is space between the input and the button */
// }

// }
