{% extends "layouts/main.html" %}

{% set pageName = "Account details" %}

{% block pageTitle %}
{{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a href="create-account.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-">{{ pageName }}</h1>

    <div id="account-details-summary">
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
            text: "Business unit"
          },
          value: {
            text: data['businessUnit'] or "Avon and Somerset"
          }
        },
        {
          key: {
            text: "Account type"
          },
          value: {
            text: 'Fine'
          }
        },
        {
          key: {
            text: "Defendant type"
          },
          value: {
            text:  data['defendantTypeF']
          }       
        },
        {
          key: {
            text: "Document language"
          },
          value: {
            text: "English only" if data['documentLanguage'] == 'English' else "Welsh and English"
          },
          actions: {
            items: [
              {
                href: "language-preference",
                text: "Change",
                visuallyHiddenText: "document language",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }   
        } if data['businessUnit'] == "Port Talbot",
        {
          key: {
            text: "Court hearing language"
          },
          value: {
            html: "English only" if data['courtHearingLanguage'] == 'English' else "Welsh and English"
          },
          actions: {
            items: [
              {
                href: "language-preference",
                text: "Change",
                visuallyHiddenText: "language preference",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }   
        } if data['businessUnit'] == "Port Talbot"        
      ]
    }) }}
    </div>

    <h2 class="govuk-heading-m ">Court details</h2>

    <!-- COURT DETAILS -->
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./court-details.html" aria-describedby="court-details-status">
            Court details
          </a>
        </div>
        <div class="govuk-task-list__status" id="court-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>
    </ul>

    {% if data['defendantTypeF'] == "Adult or youth only" %}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Defendant details</h2>

    <ul class="govuk-task-list">

      <!-- PERSONAL DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./personal-details.html" aria-describedby="personal-details-status">
            Personal details
          </a>
        </div>
        <div class="govuk-task-list__status" id="personal-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>
      
      <!-- CONTACT DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./contact-details.html" aria-describedby="contact-details-status">
            Contact details
          </a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <!-- EMPLOYER DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./employer-details.html" aria-describedby="employer-details-status">
            Employer details
          </a>
        </div>
        <div class="govuk-task-list__status" id="employer-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Offence and imposition details</h2>

    <ul class="govuk-task-list">

      <!-- OFFENCE DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint" >
          {% if data['offences-complete'] == "true" %}
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./offence-imposition/check-offences.html" aria-describedby="offence-details-status">
            Offence details
          </a>
          {% else %}
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./offence-imposition/offence-1/add-offence-1.html" aria-describedby="offence-details-status">
            Offence details
          </a>
          {% endif %}
        </div>
        <div class="govuk-task-list__status" id="offence-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>
      
      <!-- PAYMENT TERMS -->

      <!-- Payment terms when personal details are provided -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link" id="payment-terms-provided" style="display: none;">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./payment-details.html">
            Payment terms
          </a>
        </div>
        <div class="govuk-task-list__status" id="payment-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <!-- Payment terms when personal details are not provided -->
      <li class="govuk-task-list__item" id="payment-terms-not-provided">
        <div class="govuk-task-list__name-and-hint">
          <div>
            Payment terms
          </div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">
          Cannot start yet
        </div>
      </li>


    </ul>

    {% elseif data['defendantTypeF'] == "Adult or youth with parent or guardian to pay" %}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Parent or guardian details</h2>

    <ul class="govuk-task-list">
      
      <!-- PARENT OR GUARDIAN DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./parent-guardian-details.html" aria-describedby="parent-guardian-details-status">
            Parent or guardian details
          </a>
        </div>
        <div class="govuk-task-list__status" id="parent-guardian-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <!-- CONTACT DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./contact-details.html" aria-describedby="contact-details-status">
            Contact details
          </a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <!-- EMPLOYER DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./employer-details.html" aria-describedby="employer-details-status">
            Employer details
          </a>
        </div>
        <div class="govuk-task-list__status" id="employer-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Defendant details</h2>

    <ul class="govuk-task-list">

      <!-- PERSONAL DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./personal-details.html" aria-describedby="personal-details-status">
            Personal details
          </a>
        </div>
        <div class="govuk-task-list__status" id="personal-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

    </ul>
    
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Offence and imposition details</h2>

    <ul class="govuk-task-list">

      <!-- OFFENCE DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          {% if data['offences-complete'] == "true" %}
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./offence-imposition/check-offences.html" aria-describedby="offence-details-status">
            Offence details
          </a>
          {% else %}
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./offence-imposition/offence-1/add-offence-1.html" aria-describedby="offence-details-status">
            Offence details
          </a>
          {% endif %}
        </div>
        <div class="govuk-task-list__status" id="offence-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>
      
      <!-- PAYMENT TERMS -->

      <!-- Payment terms when personal details are provided -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link" id="payment-terms-provided" style="display: none;">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./payment-details.html">
            Payment terms
          </a>
        </div>
        <div class="govuk-task-list__status" id="payment-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <!-- Payment terms when personal details are not provided -->
      <li class="govuk-task-list__item" id="payment-terms-not-provided">
        <div class="govuk-task-list__name-and-hint">
          <div>
            Payment terms
          </div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">
          Cannot start yet
        </div>
      </li>


    </ul>

    {% elseif data['defendantTypeF'] == "Company" %}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Company details</h2>

    <ul class="govuk-task-list">

      <!-- PERSONAL DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./company-details.html" aria-describedby="company-details-status">
            Company details
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./contact-details.html" aria-describedby="contact-details-status">
            Contact details
          </a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Offence and imposition details</h2>

    <ul class="govuk-task-list">

      <!-- OFFENCE DETAILS -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          {% if data['offences-complete'] == "true" %}
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./offence-imposition/check-offences.html" aria-describedby="offence-details-status">
            Offence details
          </a>
          {% else %}
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./offence-imposition/offence-1/add-offence-1.html" aria-describedby="offence-details-status">
            Offence details
          </a>
          {% endif %}
        </div>
        <div class="govuk-task-list__status" id="offence-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>
      
      <!-- PAYMENT TERMS -->

      <!-- Payment terms when personal details are provided -->
      <li class="govuk-task-list__item govuk-task-list__item--with-link" id="payment-terms-provided" style="display: none;">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./payment-details.html">
            Payment terms
          </a>
        </div>
        <div class="govuk-task-list__status" id="payment-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

      <!-- Payment terms when personal details are not provided -->
      <li class="govuk-task-list__item" id="payment-terms-not-provided">
        <div class="govuk-task-list__name-and-hint">
          <div>
            Payment terms
          </div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">
          Cannot start yet
        </div>
      </li>

    </ul>

    {% endif %}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Account comments and notes</h2>

    <ul class="govuk-task-list">
      
      <!-- ACCOUNT COMMENTS AND NOTES -->

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./account-notes.html">
            Account comments and notes
          </a>
        </div>
        <div class="govuk-task-list__status" id="account-comment-details-status">
          <strong class="govuk-tag govuk-tag--grey">Not provided</strong>
        </div>
      </li>

    </ul>

    

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Check and submit for review</h2>
    
    <!-- Review button, initially hidden -->
    <button id="review-button" class="govuk-button govuk-!-margin-bottom-8" onclick="window.location.href='./check-submit.html';" style="display: none;">
      Review account
    </button>

    <p id="check-message" class="govuk-body govuk-!-margin-bottom-8">
      Check that all required fields have been entered before you submit for review.
    </p>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body"><a class="govuk-link destructive-link" href="#">Delete account</a></p>


  </div> 

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const contactStatusTag = document.getElementById('contact-details-status');
    const courtStatusTag = document.getElementById('court-details-status');
    const personalStatusTag = document.getElementById('personal-details-status');
    const employerStatusTag = document.getElementById('employer-details-status');
    const parentGuardianStatusTag = document.getElementById('parent-guardian-details-status');
    const companyStatusTag = document.getElementById('company-details-status');
    const offenceStatusTag = document.getElementById('offence-details-status');
    const paymentStatusTag = document.getElementById('payment-details-status');
    const commentNoteStatusTag = document.getElementById('account-comment-details-status');
    const reviewButton = document.getElementById('review-button');
    const checkMessage = document.getElementById('check-message');
    const paymentTermsProvided = document.getElementById('payment-terms-provided');
    const paymentTermsNotProvided = document.getElementById('payment-terms-not-provided');
    
    // Get the defendant type from the page data
    const defendantTypeF = "{{ data.defendantTypeF }}";

    // Function to update status tags
    function updateStatusTags() {
      // Set the court status on page load
      if (localStorage.getItem('courtDetailsProvided') === 'true') {
        courtStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else {
        courtStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the contact details status on page load
      if (contactStatusTag && localStorage.getItem('contactDetailsProvided') === 'true') {
        contactStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (contactStatusTag) {
        contactStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the personal details status on page load
      if (personalStatusTag && localStorage.getItem('personalDetailsProvided') === 'true') {
        personalStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (personalStatusTag) {
        personalStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the employer details status on page load
      if (employerStatusTag && localStorage.getItem('employerDetailsProvided') === 'true') {
        employerStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (employerStatusTag) {
        employerStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the parent guardian details status on page load
      if (parentGuardianStatusTag && localStorage.getItem('parentGuardianDetailsProvided') === 'true') {
        parentGuardianStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (parentGuardianStatusTag) {
        parentGuardianStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the company details status on page load
      if (companyStatusTag && localStorage.getItem('companyDetailsProvided') === 'true') {
        companyStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (companyStatusTag) {
        companyStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the offence details status on page load
      if (offenceStatusTag && localStorage.getItem('offenceDetailsProvided') === 'true') {
        offenceStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (offenceStatusTag) {
        offenceStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the payment details status on page load
      if (paymentStatusTag && localStorage.getItem('paymentDetailsProvided') === 'true') {
        paymentStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (paymentStatusTag) {
        paymentStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Set the account comment details status on page load
      if (commentNoteStatusTag && localStorage.getItem('commentNotesDetailsProvided') === 'true') {
        commentNoteStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--blue">Provided</strong>';
      } else if (commentNoteStatusTag) {
        commentNoteStatusTag.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not provided</strong>';
      }

      // Update payment terms visibility
      if (localStorage.getItem('personalDetailsProvided') === 'true' | defendantTypeF === 'Company') {
        paymentTermsProvided.style.display = 'table';
        paymentTermsNotProvided.style.display = 'none';
      } else {
        paymentTermsProvided.style.display = 'none';
        paymentTermsNotProvided.style.display = 'table';
      }

      // Check if both required statuses are "Provided" for each defendant type
      if (defendantTypeF === 'Adult or youth only') {
        if (localStorage.getItem('courtDetailsProvided') === 'true' && localStorage.getItem('personalDetailsProvided') === 'true' && localStorage.getItem('offenceDetailsProvided') === 'true' && localStorage.getItem('paymentDetailsProvided') === 'true') {
          reviewButton.style.display = 'block';
          checkMessage.style.display = 'none';
        } else {
          reviewButton.style.display = 'none';
          checkMessage.style.display = 'block';
        }
      } else if (defendantTypeF === 'Adult or youth with parent or guardian to pay') {
        if (localStorage.getItem('courtDetailsProvided') === 'true' && localStorage.getItem('parentGuardianDetailsProvided') === 'true' && localStorage.getItem('offenceDetailsProvided') === 'true' && localStorage.getItem('personalDetailsProvided') === 'true' && localStorage.getItem('paymentDetailsProvided') === 'true') {
          reviewButton.style.display = 'block';
          checkMessage.style.display = 'none';
        } else {
          reviewButton.style.display = 'none';
          checkMessage.style.display = 'block';
        }
      } else {
        if (localStorage.getItem('courtDetailsProvided') === 'true' && localStorage.getItem('companyDetailsProvided') === 'true' && localStorage.getItem('paymentDetailsProvided') === 'true') {
          reviewButton.style.display = 'block';
          checkMessage.style.display = 'none';
        } else {
          reviewButton.style.display = 'none';
          checkMessage.style.display = 'block';
        }
      }
    }

    // Update status tags on page load
    updateStatusTags();
  });
</script>



{% endblock %}
