{% extends "layouts/main.html" %}

{% set pageName = "Account comments and notes" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>
    

    <form id="account-comment-details-form" method="post" novalidate action="account-details">

      {{ govukCharacterCount({
        name: "accountComment",
        id: "accountComment",
        classes: "govuk-input--width-30",
        label: {
          text: "Add comment",
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example, a warning, which will appear on the account summary"
        },
        maxlength: 200,
        value: data['accountComment']
      }) }}


      {# Size modifiers: xl, l, m #}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {{ govukCharacterCount({
        name: "accountNote",
        id: "accountNote",
        classes: "govuk-input--width-30",
        label: {
          text: "Add account note",
          classes: "govuk-label--m"
        },
        hint: {
          text: "You can view notes in account history after the account is published"
        },
        maxlength: 200,
        value: data['accountNote']
      }) }}

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">
          Return to account details
        </button>
      </div>
      

    </form>

    <p class="govuk-body"><a class="govuk-link govuk-! govuk-link--no-visited-state" href="account-details.html">Cancel</a></p>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('account-comment-details-form');
      const formFields = form.querySelectorAll('textarea');
  
      // Function to check if any form field is filled out
      function isFormFilled() {
        for (let field of formFields) {
          if (field.value.trim() !== '') {
            return true;
          }
        }
        return false;
      }
  
      // Update status based on form input
      function updateStatus() {
        if (isFormFilled()) {
          localStorage.setItem('commentNotesDetailsProvided', 'true');
        } else {
          localStorage.setItem('commentNotesDetailsProvided', 'false');
        }
      }
  
      // Add event listeners to form buttons
      form.addEventListener('submit', function(event) {
        updateStatus();
      });
    });
  </script>
{% endblock %}
