{% extends "layouts/main.html" %}

{% set pageName = "Account details" %}

{% block beforeContent %}

<a href="../index.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <form method="post" novalidate action="task-list">

        {{ govukRadios({
          name: "businessUnit",
          classes: "govuk-radios",
          value: data['businessUnit'],
          fieldset: {
            legend: {
              text: "Business unit",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select where the account is to be created"
          },
          items: [
            {
              value: "Avon and Somerset",
              text: "Avon and Somerset"
            },
            {
              value: "Bedfordshire",
              text: "Bedfordshire"
            },
            {
              value: "Cambridgeshire",
              text: "Cambridgeshire"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "defendantType",
          value: data['defendantType'],
          classes: "govuk-radios",
          fieldset: {
            legend: {
              text: "Defendant type",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If sole trader, choose ‘Individual’’"
          },
          items: [
            {
              value: "Individual only",
              text: "Individual only"
            },
            {
              value: "Individual with parent to pay",
              text: "Individual with parent to pay"
            },
            {
              value: "Company",
              text: "Company"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
