{% extends "layouts/main.html" %}

{% set pageName = "Add an offence" %}

{% block beforeContent %}

<!-- <a href="task-list.html" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <h2 class="govuk-heading-m">Offence</h2>

      <form method="post" novalidate action="#" onsubmit="return handleSearch(event)">
        <div class="govuk-form-group" style="width: 100% !important;">
          <label class="govuk-label govuk-label--s search-input" for="sentenceDate">
            Date of sentence
          </label>
          <div id="event-name-hint" class="govuk-hint">
            Use dd/mm/yyyy format.
          </div>
          <input id="searchOffence" name="sentenceDate" type="text" class="govuk-input govuk-input--width-10">
        </div>

      
        <!-- Offence code input -->
        {{ govukInput({
          id: "offenceCode",
          name: "offenceCode",
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          label: {
            text: "Offence code",
            classes: "govuk-label--s"
          },
          hint: {
            html: 'For example, TP11003. If you don’t know the offence code, you can <a href="#" class="govuk-link--no-visited-state" data-module="edge">search the offence list</a>.'
          },
          value: data['offenceCode']
        }) }}

    
        <!-- Results -->
        <div id="results" style="display: none;" class="govuk-!-margin-bottom-3 govuk-!-margin-top-5">
          <div style="padding: 18px 15px 15px 15px; border-left: 5px solid #1d70b8; background-color: #f3f2f1;">
            <p id="offence-code" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0" style="text-transform: uppercase;">TP11003</p>
            <p id="offence-title" class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Possess potentially dangerous item on Transport for London road transport premises</p>
          </div>
        </div>




        <!-- OPTION 3 -->
        <!-- <div class="govuk-form-group govuk-!-margin-bottom-3"> 
          <label class="govuk-label govuk-label--s" for="search">
            Offence code
          </label>
          <div id="event-name-hint" class="govuk-hint" data-module="edge">
            For example, TP11003. If you don’t know the offence code, you can <a class="govuk-link--no-visited-state" href="#">search the offence list</a>.
          </div>
          <div class="gem-c-search__item-wrapper gem-c-search--on-white">
            <input class="govuk-input govuk-input--extra-letter-spacing" id="search" name="searchQuery" type="text">
            <div class="gem-c-search__item gem-c-search__submit-wrapper">
              <button type="submit" class="gem-c-search__submit">Search</button>
            </div>
          </div>
        </div>

        <div  id="results-container" class="govuk-!-display-none govuk-!-margin-bottom-3 govuk-!-margin-top-5">
          <div style="padding: 15px; border-left: 5px solid #1d70b8; background-color: #f3f2f1;">
            <p class="govuk-body govuk-!-margin-bottom-1 govuk-input--extra-letter-spacing">TP11003</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Possess potentially dangerous item on Transport for London road transport premises</p>
          </div>
        </div> -->
        

        <!-- OPTION 2 -->
        <!-- <div class="search-container">
          <div class="govuk-form-group" style="width: 100% !important;">
              <label class="govuk-label govuk-label--s search-input" for="searchOffence">
                Offence code
              </label>
              <div id="event-name-hint" class="govuk-hint">
                For example, HY35014
              </div>
            <input id="searchOffence" name="searchOffence" type="text" class="govuk-input search-input govuk-input--width-10 govuk-input--extra-letter-spacing">
          </div>
          

          {{ xGovukAutocomplete ({
            id: "offenceCode",
            name: "offenceCode",
            minLength: "5",
            allowEmpty: false,
            showNoOptionsFound: true,
            label: {
              classes: "govuk-label--s",
              text: "Offence code"
            },
            hint: {
              text: "For example, TH68001"
            },
            items: [
              { text: "Theft from the person of another (TH68001)" },
              { text: "Attempt theft from the person of another (TH68001A)" },
              { text: "Conspire to steal from the person of another (TH68001C)" }
            ]
          }) }}

        </div> -->



    </div>
  </div>


  {# Size modifiers: xl, l, m #}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m">Impositions</h2>

  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-bottom-6" style="padding: 20px 5px 0px 5px; background-color: #f3f2f1;">
    <div class="govuk-grid-column-one-half">

        {{ xGovukAutocomplete({
          id: "resultCode",
          name: "resultCode",
          value: data['resultCode'],
          allowEmpty: false,
          showAllValues: true,
          label: {
            classes: "govuk-label--s",
            text: "Result code"
          },  
          items: [
            { text: "Compensation (FCOMP)" },
            { text: "Victim surcharge (FVS)" },
            { text: "Costs (FCOST)" },
            { text: "Crown prosecution costs (FCPC)" },
            { text: "Fine only (FO)" },
            { text: "Criminal courts charge (FCC)" },
            { text: "Vehicle excise duty (FVEBD)" },
            { text: "Forfeited recognizance (FFR)" }
          ]
        }) }}

    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: "amountImposed",
        name: "amountImposed",
        label: {
          text: "Amount imposed",
          classes: "govuk-label--s"
        },
        prefix: {
          text: "£"
        },
        value: data["amountImposed"]
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: "amountPaid",
        name: "amountPaid",
        label: {
          text: "Amount paid",
          classes: "govuk-label--s"
        },
        prefix: {
          text: "£"
        },
        value: data["amountPaid"]
      }) }}
    </div>
  </div>

  {{ govukButton({
    text: "Add another imposition",
    classes: "govuk-button--secondary govuk-!-margin-bottom-3"
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-button-group govuk-!-margin-top-7">
    {{ govukButton({
      text: "Review offence"
    }) }}
  
    {{ govukButton({
      text: "Add another offence",
      classes: "govuk-button--secondary"
    }) }}

    <a class="govuk-link" href="#">Cancel</a>
  </div>

</form>


     

     

    
 

  <script>
    // document.addEventListener('DOMContentLoaded', (event) => {
    //   const searchInput = document.getElementById('search');
    //   const resultsContainer = document.getElementById('results-container');

    //   // Restore previous search value from local storage
    //   const previousSearch = sessionStorage.getItem('searchQuery');
    //   if (previousSearch) {
    //     searchInput.value = previousSearch;
    //     resultsContainer.classList.remove('govuk-!-display-none');
    //   }

    //   // Handle form submission
    //   window.handleSearch = function(event) {
    //     event.preventDefault();
    //     const query = searchInput.value.trim();

    //     if (query) {
    //       // Save search query to local storage
    //       sessionStorage.setItem('searchQuery', query);
    //       resultsContainer.classList.remove('govuk-!-display-none');
    //     } else {
    //       // Clear the results if the query is empty
    //       sessionStorage.removeItem('searchQuery');
    //       resultsContainer.classList.add('govuk-!-display-none');
    //     }
    //   };
    // });

    document.addEventListener('DOMContentLoaded', function() {
    const inputElement = document.getElementById('offenceCode');
    const resultsContainer = document.getElementById('results');
    const offenceCodeDisplay = document.getElementById('offence-code');
    const offenceTitleDisplay = document.getElementById('offence-title');

    inputElement.addEventListener('input', function() {
      const inputValue = inputElement.value.trim();

      // Update the offence code display as the user types
      offenceCodeDisplay.textContent = inputValue;

      // Toggle the display of the results based on input presence
      if (inputValue.length > 0) {
        resultsContainer.style.display = 'block'; // Show results when there is input
      } else {
        resultsContainer.style.display = 'none'; // Hide results when input is empty
      }

      // Determine what to display in the offence title based on input length
      if (inputValue.length === 7) {
        offenceTitleDisplay.textContent = "Possess potentially dangerous item on Transport for London road transport premises";
      } else {
        offenceTitleDisplay.textContent = ""; // Optionally clear the previous text if less than 7 characters
      }
    });
  });

  </script>
          
  
{% endblock %}
