{% extends "layouts/main.html" %}

{% set pageName = "Contact details" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['defendantTypeF'] == "Adult or youth only" %}
      <h1 class="govuk-heading-l">Defendant contact details</h1>
      {% endif %}
      {% if data['defendantTypeF'] == "Adult or youth with parent or guardian to pay" %}
      <h1 class="govuk-heading-l">Parent or guardian contact details</h1>
      {% endif %}
      {% if data['defendantTypeF'] == "Company" %}
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      {% endif %}

      <form id="contact-details-form" method="post" novalidate action="account-details">
        <!-- EMAILS -->
        {{ govukInput({
          label: { text: "Primary email address", classes: "govuk-label--s" },
          classes: "govuk-input--width-30",
          id: "email-1",
          name: "email-1",
          value: data['email-1'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
      
        {{ govukInput({
          label: { text: "Secondary email address", classes: "govuk-label--s" },
          classes: "govuk-input--width-30",
          id: "email-2",
          name: "email-2",
          value: data['email-2'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
      
        <!-- PHONE NUMBERS -->
        {{ govukInput({
          label: { text: "Mobile telephone number", classes: "govuk-label--s" },
          id: "mobile-number",
          name: "mobileNumber",
          value: data['mobileNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: { text: "Home telephone number", classes: "govuk-label--s" },
          id: "home-number",
          name: "homeNumber",
          value: data['homeNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}
      
        {{ govukInput({
          label: { text: "Work telephone number", classes: "govuk-label--s" },
          id: "business-number",
          name: "businessNumber",
          value: data['businessNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}
      
        
      
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" id="return-to-account-details">
            Return to account details
          </button>
          {% if data['defendantTypeF'] == "Adult or youth only" %}
            <button type="submit" class="govuk-button govuk-button--secondary" formaction="./employer-details?cpCompleted=true">
              Add employer details
            </button>
          {% endif %}
          {% if data['defendantTypeF'] == "Adult or youth with parent or guardian to pay" %}
            <button type="submit" class="govuk-button govuk-button--secondary" formaction="./employer-details?cpCompleted=true">
              Add employer details
            </button>
          {% endif %}
          {% if data['defendantTypeF'] == "Company" %}
            {% if data ['Offence1-Added'] == "True" %}
            <button type="submit" class="govuk-button govuk-button--secondary" formaction="./offence-imposition/check-offences?cpCompleted=true">
              Add offence details
            </button>
            {% else %}
            <button type="submit" class="govuk-button govuk-button--secondary" formaction="./offence-imposition/offence-1/add-offence-1?cpCompleted=true">
              Add offence details
            </button>
            {% endif %}
          {% endif %}
        </div>
      </form>

      <p class="govuk-body"><a class="govuk-link govuk-! govuk-link--no-visited-state" href="account-details">Cancel</a></p>

      </form>

    </div>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('contact-details-form');
      const formFields = form.querySelectorAll('input[type="email"], input[type="tel"]');
  
      // Function to check if any form field is filled out
      function isFormFilled() {
        for (let field of formFields) {
          if (field.value.trim() !== '') {
            return true;
          }
        }
        return false;
      }
  
      // Update status based on form input
      function updateStatus() {
        if (isFormFilled()) {
          localStorage.setItem('contactDetailsProvided', 'true');
        } else {
          localStorage.setItem('contactDetailsProvided', 'false');
        }
      }
  
      // Add event listeners to form buttons
      form.addEventListener('submit', function(event) {
        updateStatus();
      });
    });
  </script>




{% endblock %}
