{% extends "layouts/main.html" %}

{% set pageName = "Contact details" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="task-list?cpCompleted=true">

        <!-- EMAILS -->
        
        {{ govukInput({
          label: {
            text: "Primary email address",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-30",
          id: "email-1",
          name: "email-1",
          value: data['email-1'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Secondary email address",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-30",
          id: "email-2",
          name: "email-2",
          value: data['email-2'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        <!-- PHONE NUMBERS -->

        {{ govukInput({
          label: {
            text: "Mobile telephone number",
            classes: "govuk-label--s"
          },
          id: "mobile-number",
          name: "mobileNumber",
          value: data['mobileNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Business telephone number",
            classes: "govuk-label--s"
          },
          id: "business-number",
          name: "businessNumber",
          value: data['businessNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Home telephone number",
            classes: "govuk-label--s"
          },
          id: "home-number",
          name: "homeNumber",
          value: data['homeNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}


        {% if data['businessUnit'] == "Gwent" %}

        {% endif %}

        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to account details"
          }) }}

          {{ govukButton({
            text: "Add employer details",
            classes: "govuk-button--secondary",
            href: "./employer-details.html"
          }) }}        
        </div>

      </form>

      <p class="govuk-body"><a class="govuk-link govuk-! govuk-link--no-visited-state" href="task-list-individual.html">Cancel</a></p>


      </form>


    </div>
  </div>

{% endblock %}
