{% extends "layouts/main.html" %}

{% set pageName = "Create account" %}

{% block beforeContent %}

<!-- <a href="./accounts-home.html" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <!-- ?hearingLanguage=welsh-english&documentLanguage=welsh-english -->
      <form method="post" novalidate action="/create-account-form">

        {{ xGovukAutocomplete({
          id: "businessUnit",
          name: "businessUnit",
          classes: "govuk-!-margin-bottom-8",
          value: data['businessUnit'],
          allowEmpty: false,
          showAllValues: true,
          label: {
            classes: "govuk-label--s",
            text: 'Business unit'
          },
          hint: {
            text: 'Enter area where the account is to be created'
          },
          items: [
            { text: "Avon and Somerset" },
            { text: "Bath" },
            { text: "Plymouth" },
            { text: "Poole" },
            { text: "Port Talbot" }
          ]
        }) }}


        <!-- DEFENDANT TYPE CONDITIONALLY REVEALED FORM -->
        {% set defendantTypeFine %}

        {{ govukRadios({
          name: "defendantTypeF",
          value: data['defendantTypeF'],
          classes: "govuk-radios",
          fieldset: {
            legend: {
              text: "Defendant type",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "If sole trader, choose 'Adult or youth only'"
          },
          items: [
            {
              value: "Adult or youth only",
              text: "Adult or youth only"
            },
            {
              value: "Adult or youth with parent or guardian to pay",
              text: "Adult or youth with parent or guardian to pay"
            },
            {
              value: "Company",
              text: "Company"
            }
          ]
        }) }}
        
        {% endset -%}

        {% set defendantTypeFixedPenalty %}

        {{ govukRadios({
          name: "defendantTypeFP",
          value: data['defendantTypeFP'],
          classes: "govuk-radioss",
          fieldset: {
            legend: {
              text: "Defendant type",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "If sole trader, choose 'Adult or youth only'"
          },
          items: [
            {
              value: "Adult or youth only",
              text: "Adult or youth only"
            },
            {
              value: "Company",
              text: "Company"
            }
          ]
        }) }}
        
        {% endset -%}

      
        <!-- ACCOUNT TYPE - CONDITIONAL REVEAL FOR DEFENDANT TYPES -->
        {{ govukRadios({
          name: "accountType",
          classes: "govuk-radios",
          value: data['accountType'],
          fieldset: {
            legend: {
              text: "Account type",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Fine",
              text: "Fine",
              conditional: {
                html: defendantTypeFine
              }
            },
            {
              value: "Fixed Penalty",
              text: "Fixed Penalty",
              conditional: {
                html: defendantTypeFixedPenalty
              }
            },
            {
              value: "Conditional Caution",
              text: "Conditional Caution (adult or youth only)"
            }
          ]
        }) }}

        

        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}        
        </div>

        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="javascript:window.history.back()">Cancel</a></p>


      </form>


    </div>
  </div>

{% endblock %}

