{% extends "layouts/main.html" %}

{% set pageName = "Defendant contact details" %}

{% block beforeContent %}

<a href="./parent-to-pay.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="employer">

        <!-- EMAILS -->
        
        {{ govukInput({
          label: {
            text: "Primary email address (optional)",
            classes: "govuk-label--s"
          },
          id: "email-1",
          name: "email-1",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Secondary email address (optional)",
            classes: "govuk-label--s"
          },
          id: "email-2",
          name: "email-2",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        <!-- PHONE NUMBERS -->

        {{ govukInput({
          label: {
            text: "Mobile telephone number (optional)",
            classes: "govuk-label--s"
          },
          id: "mobile-number",
          name: "mobileNumber",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Business telephone number (optional)",
            classes: "govuk-label--s"
          },
          id: "business-number",
          name: "businessNumber",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Home telephone number (optional)",
            classes: "govuk-label--s"
          },
          id: "home-number",
          name: "homeNumber",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
