{% extends "layouts/main.html" %}

{% set pageName = "Defendant details" %}

{% block beforeContent %}

<a href="defendant-type.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      <h2 class="govuk-heading-m">Personal details</h2>


      <form method="post" novalidate action="defendant-contact-details">

        <!-- TITLE -->
        <div>
        {{ govukSelect({
          id: "title",
          name: "title",
          label: {
            text: "Title",
            classes: "govuk-label--s"
          },
          items: [
            {
              value: "Mr",
              text: "Mr"
            },
            {
              value: "Mrs",
              text: "Mrs"
            },
            {
              value: "Miss",
              text: "Miss"
            },
            {
              value: "Ms",
              text: "Ms"
            }
          ]
        }) }}
        </div>

        <!-- FIRST AND LATE NAME -->
        <div>

        {{ govukInput({
          id: "[new][firstName]",
          name: "[new][firstName]",
          label: {
            text: "First names",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This can include their middle names"
          },
          value: data.new.firstName
        }) }}

        {{ govukInput({
          id: "[new][lastName]",
          name: "[new][lastName]",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          value: data.new.lastName
        }) }}


        {% set aliasHTML %}
        <div data-module="moj-add-another">

          {% call govukFieldset({
            classes: 'moj-add-another__item',
            legend: {
              text: 'Alias 1',
              classes: 'moj-add-another__title govuk-fieldset__legend--s',
              isPageHeading: false
            }
          }) %}
      
          {{ govukInput({
            id: "[new][aliasFirstName]",
            name: "[new][aliasFirstName]",
            label: {
              text: "First names"
            },
            value: data.new.aliasFirstName
          }) }}
  
          {{ govukInput({
            id: "[new][aliasLastName]",
            name: "[new][aliasLastName]",
            label: {
              text: "Last name"
            },
            value: data.new.aliasLastName
          }) }}
          {% endcall %}

          <div class="moj-button-action govuk-!-margin-top-4">
            {{ govukButton({
              text: 'Add another alias',
              classes: 'govuk-button--secondary govuk-!-margin-bottom-0',
              type: 'button'
            }) }}

            <!-- Missing class: moj-add-another__add-button -->

            
          </div>
        </div>
        {% endset -%}

        {{ govukCheckboxes({
          name: "aliases",
          values: data['aliases'],
          items: [
            {
              value: "yes",
              text: "Add aliases",
              conditional: {
                html: aliasHTML
              }
            }
          ]
        }) }}
      </div>

        
        <!-- DATE OF BIRTH -->

        <div>
        {{ govukDateInput({
          id: "date-of-birth",
          namePrefix: "defendantDoB",
          fieldset: {
            legend: {
              text: "Date of birth (optional)",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data['defendantDoB-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data['defendantDoB-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data['defendantDoB-year']
          }
        ]
        }) }}
        </div>

        <!-- NATIONAL INSURANCE NUMBER -->  
        <div>
        {{ govukInput({
          label: {
            text: "National Insurance number (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          id: "national-insurance-number",
          name: "defendantNationalInsuranceNumber",
          spellcheck: false,
          value: data['defendantNationalInsuranceNumber']
        }) }}
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!-- ALIASES -->

        <!-- <div data-module="moj-add-another">

          <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Aliases</h2>

          {% call govukFieldset({
            classes: 'moj-add-another__item',
            legend: {
              text: 'Alias',
              classes: 'moj-add-another__title govuk-fieldset__legend--s',
              isPageHeading: false
            }
          }) %}
      
          {{ govukInput({
            id: 'person[0][first_name]',
            name: 'person[0][first_name]',
            classes: "govuk-!-width-three-quarters",
            label: {
              html: 'First names',
              classes: 'govuk-!-font-weight-bold'
            },
            attributes: {
              'data-name': 'person[%index%][first_name]',
              'data-id': 'person[%index%][first_name]'
            }
          }) }}

          {{ govukInput({
            id: 'person[0][last_name]',
            name: 'person[0][last_name]',
            classes: "govuk-!-width-three-quarters",
            label: {
              html: 'Last name',
              classes: 'govuk-!-font-weight-bold'
            },
            attributes: {
              'data-name': 'person[%index%][last_name]',
              'data-id': 'person[%index%][last_name]'
            }
          }) }}
          {% endcall %}

          <div class="moj-button-action">
            {{ govukButton({
              text: 'Add another person',
              classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
            }) }}
          </div>

        </div> 
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

        <!-- ADDRESS -->
        <div>
        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Address line 1",
              classes: "govuk-label--s"
            },
            id: "address-line-1",
            name: "addressLine1",
            autocomplete: "address-line1",
            value: data['addressLine1']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 2 (optional)",
              classes: "govuk-label--s"
            },
            id: "address-line-2",
            name: "addressLine2",
            autocomplete: "address-line2",
            value: data['addressLine2']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 3 (optional)",
              classes: "govuk-label--s"
            },
            id: "address-line-3",
            name: "addressLine3",
            autocomplete: "address-level3",
            value: data['addressLine3']
          }) }}
      
        
          {{ govukInput({
            label: {
              text: "Postcode (optional)",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "addressPostcode",
            autocomplete: "postal-code",
            value: data['addressPostcode']
          }) }}
        
        {% endcall %}
        </div>

        <!-- VEHICLE DETAILS -->






        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
