{% extends "layouts/main.html" %}

{% set pageName = "Defendant contact details" %}

{% block beforeContent %}

<a href="./defendant-details.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="employer">

        <!-- EMAILS -->
        
        {{ govukInput({
          label: {
            text: "Primary email address (optional)",
            classes: "govuk-label--s"
          },
          id: "email-1",
          name: "email-1",
          value: data['email-1'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Secondary email address (optional)",
            classes: "govuk-label--s"
          },
          id: "email-2",
          name: "email-2",
          value: data['email-2'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        <!-- PHONE NUMBERS -->

        {{ govukInput({
          label: {
            text: "Mobile telephone number (optional)",
            classes: "govuk-label--s"
          },
          id: "mobile-number",
          name: "mobileNumber",
          value: data['mobileNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Business telephone number (optional)",
            classes: "govuk-label--s"
          },
          id: "business-number",
          name: "businessNumber",
          value: data['businessNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Home telephone number (optional)",
            classes: "govuk-label--s"
          },
          id: "home-number",
          name: "homeNumber",
          value: data['homeNumber'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        <!-- WELSH -->

        {% if (data['defendantType'] == "defendant-individual") %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          {{ govukRadios({
            name: "documentLanguage",
            value: data['documentLanguage'],
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                text: "What is the required language for documents to be sent  out?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "english",
                text: "English"
              },
              {
                value: "welsh",
                text: "Welsh"
              }
            ]
          }) }}
  
          {{ govukRadios({
            name: "hearingLanguage",
            value: data['hearingLanguage'],
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                text: "In which language should court hearings be conducted?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "english",
                text: "English"
              },
              {
                value: "welsh",
                text: "Welsh"
              }
            ]
          }) }}

        {% endif %}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
