{% extends "layouts/main.html" %}

{% set pageName = "Defendant type" %}

{% block beforeContent %}

<a href="../index.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h1 class="govuk-heading-l">{{ pageName }}</h1> -->

      <form method="post" novalidate action="/defendant-type-question">

        {{ govukRadios({
          name: "defendantType",
          value: data['defendantType'],
          fieldset: {
            legend: {
              text: "Defendant type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "defendant-individual",
              text: "Individual only"
            },
            {
              value: "defendant-individual-parent-pay",
              text: "Individual with parent to pay"
            },
            {
              value: "defendant-company",
              text: "Company"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
