{% extends "layouts/main.html" %}

{% set pageName = "Employer details" %}

{% block beforeContent %}

<a href="./employer.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="">

        <!-- EMAILS -->
        
        
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
