{% extends "layouts/main.html" %}

{% set pageName = "Defendant type" %}

{% block beforeContent %}

<a href="../index.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h1 class="govuk-heading-l">{{ pageName }}</h1> -->

      <form method="post" novalidate action="defendant-details">

        {% set companyHTML %}
        {{ govukInput({
          id: "company-name",
          name: "companyName",
          type: "text",
          label: {
            text: "Company name",
            classes: "govuk-label--s"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "defendantType",
          fieldset: {
            legend: {
              text: "Defendant type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "defendant-individual",
              text: "Individual"
            },
            {
              value: "defendant-company",
              text: "Company",
              conditional: {
                html: companyHTML
              }
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
