{% extends "layouts/main.html" %}

{% set pageName = "Parent to pay" %}

{% block beforeContent %}

<a href="./contact-details.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h1 class="govuk-heading-l">{{ pageName }}</h1> -->

      <form method="post" novalidate action="/employer-question">

        {{ govukRadios({
          name: "employer",
          value: data['employer'],
          fieldset: {
            legend: {
              text: "Do you have the defendant’s employer details?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "employer-yes",
              text: "Yes"
            },
            {
              value: "employer-no",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
