{% extends "layouts/main.html" %}

{% set pageName = "Employer details" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="account-details?edCompleted=true">

        <!-- DETAILS -->
        
        {{ govukInput({
          label: {
            text: "Employer name",
            classes: "govuk-label--s"
          },
          id: "employerName",
          classes: "govuk-input--width-30",
          name: "employerName",
          value: data['employerName']
        }) }}

        {{ govukInput({
          label: {
            text: "Employee reference",
            classes: "govuk-label--s"
          },
          hint: {
            text: "If employee reference not known, add National Insurance number"
          },
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          id: "employeeReference",
          name: "employeeReference",
          value: data['employeeReference']
        }) }}

        {{ govukInput({
          label: {
            text: "Employer email address",
            classes: "govuk-label--s"
          },
          id: "employerEmail",
          name: "employerEmail",
          classes: "govuk-input--width-30",
          value: data['employerEmail'],
          type: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Employer telephone number",
            classes: "govuk-label--s"
          },
          id: "employerTelephone",
          name: "employerTelephone",
          value: data['employerTelephone'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Address line 1",
              classes: "govuk-label"
            },
            id: "employer-address-line-1",
            name: "employerAddressLine1",
            classes: "govuk-input--width-30",
            autocomplete: "address-line1",
            value: data['employerAddressLine1']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 2",
              classes: "govuk-label"
            },
            id: "employer-address-line-2",
            name: "employerAddressLine2",
            classes: "govuk-input--width-30",
            autocomplete: "address-line2",
            value: data['employerAddressLine2']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 3",
              classes: "govuk-label"
            },
            id: "employer-address-line-3",
            name: "employerAddressLine3",
            classes: "govuk-input--width-30",
            autocomplete: "address-level3",
            value: data['employerAddressLine3']
          }) }}

          {{ govukInput({
            label: {
              text: "Address line 4",
              classes: "govuk-label"
            },
            id: "employer-address-line-4",
            name: "employerAddressLine4",
            classes: "govuk-input--width-30",
            autocomplete: "address-level4",
            value: data['employerAddressLine4']
          }) }}

          {{ govukInput({
            label: {
              text: "Address line 5",
              classes: "govuk-label"
            },
            id: "employer-address-line-5",
            classes: "govuk-input--width-30",
            name: "employerAddressLine5",
            autocomplete: "address-level5",
            value: data['employerAddressLine5']
          }) }}
      
        
          {{ govukInput({
            label: {
              text: "Postcode",
              classes: "govuk-label"
            },
            classes: "govuk-input--width-10",
            id: "employer-address-postcode",
            name: "employerAddressPostcode",
            autocomplete: "postal-code",
            value: data['employerAddressPostcode']
          }) }}
        
        {% endcall %}
      

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button">
            Return to account details
          </button>
          {% if data['defendantTypeF'] == "Adult or youth only" %}
          <button type="submit" class="govuk-button govuk-button--secondary"  formaction="./add-offence?pdCompleted=true">
            Add offence details
          </button>
          {% endif %}
          {% if data['defendantTypeF'] == "Adult or youth with parent or guardian to pay" %}
          <button type="submit" class="govuk-button govuk-button--secondary"  formaction="./personal-details?pdCompleted=true">
            Add defendant details
          </button>
          {% endif %}
        </div>
        
        

      </form>

      <p class="govuk-body"><a class="govuk-link govuk-! govuk-link--no-visited-state" href="account-details.html">Cancel</a></p>


    </div>
  </div>

{% endblock %}
