{% extends "layouts/main.html" %}

{% set pageName = "Language preferences" %}

{% block beforeContent %}

<a href="task-list.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="task-list?dh-status=started">

          {{ govukRadios({
            name: "documentLanguage",
            value: data['documentLanguage'],
            classes: "govuk-radios",
            fieldset: {
              legend: {
                text: "Document language",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "english",
                text: "English"
              },
              {
                value: "welsh-english",
                text: "Welsh and English"
              }
            ]
          }) }}
  
          {{ govukRadios({
            name: "hearingLanguage",
            value: data['hearingLanguage'],
            classes: "govuk-radios",
            fieldset: {
              legend: {
                text: "Court hearing language",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "english",
                text: "English"
              },
              {
                value: "welsh-english",
                text: "Welsh and English"
              }
            ]
          }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
