{% extends "layouts/main.html" %}

{% set pageName = "Find offence" %}

{% block beforeContent %}

<a href="task-list.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <form method="post" novalidate action="#">
        <div class="search-container">
          <div class="govuk-form-group" style="width: 100% !important;">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s  search-input" for="searchOffence">
                Search by offence code, title, act or section
              </label>
            </h1>
            <input class="govuk-input  search-input" id="searchOffence" name="searchOffence" type="text">
          </div>

          {{ govukButton({
            text: "Search"
          }) }}
        </div>
      </form>


    </div>
  </div>
          
  
{% endblock %}
