{% extends "layouts/main.html" %}

{% set pageName = "Parent to pay" %}

{% block beforeContent %}

<a href="./defendant-details.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h1 class="govuk-heading-l">{{ pageName }}</h1> -->

      <form method="post" novalidate action="defendant-contact-details">

        {{ govukRadios({
          name: "parentToPay",
          fieldset: {
            legend: {
              text: "Parent or guardian to pay?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "defendant-to-pay-yes",
              text: "Yes"
            },
            {
              value: "defendant-to-pay-yes",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
