{% extends "layouts/main.html" %}

{% set pageName = "Parent or guardian details" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form id="parent-guardian-details-form" method="post" novalidate action="account-details">

  
        <!-- FIRST AND LATE NAME -->
        <div>

          {{ govukInput({
            id: "PGFirstName",
            name: "PGFirstName",
            classes: "govuk-input--width-20",
            label: {
              text: "Parent or guardian first names ",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Include their middle names"
            },
            value: data['PGFirstName']
          }) }}
  
          {{ govukInput({
            id: "PGLastName",
            name: "PGLastName",
            classes: "govuk-input--width-20",
            label: {
              text: "Parent or guardian last name ",
              classes: "govuk-label--s"
            },
            value: data['PGLastName']
          }) }}
  
  
          {% set aliasHTML %}
          <div data-module="moj-add-another">
  
            {% call govukFieldset({
              classes: 'moj-add-another__item',
              legend: {
                text: 'Alias 1',
                classes: 'moj-add-another__title govuk-fieldset__legend--s',
                isPageHeading: false
              }
            }) %}
        
            {{ govukInput({
              id: "PGAliasFirstName",
              classes: "govuk-input--width-20",
              name: "PGAliasFirstName",
              label: {
                text: "First names"
              },
              value: data['PGAliasFirstName']
            }) }}
    
            {{ govukInput({
              id: "PGAliasLastName",
              classes: "govuk-input--width-20",
              name: "PGAliasLastName",
              label: {
                text: "Last name"
              },
              value: data['PGAliasLastName']
            }) }}
            {% endcall %}
  
            <div class="moj-button-action govuk-!-margin-top-4">
              {{ govukButton({
                text: 'Add another alias',
                classes: 'govuk-button--secondary govuk-!-margin-bottom-0',
                type: 'button'
              }) }}
  
              <!-- Missing class: moj-add-another__add-button -->
  
              
            </div>
          </div>
          {% endset -%}
  
          {{ govukCheckboxes({
            name: "PGAliases",
            values: data['PGAliases'],
            items: [
              {
                value: "yes",
                text: "Add aliases",
                conditional: {
                  html: aliasHTML
                }
              }
            ]
          }) }}
        </div>

        <!-- DATE OF BIRTH -->

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="date">Parent or guardian date of birth</label>
          <div id="date-hint" class="govuk-hint">
            For example, 31/01/2023
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input moj-js-datepicker-input govuk-input--width-10" id="PGDOB" name="PGDOB" type="text" autocomplete="off" value="{{data['PGDOB']}}">
            <button class="moj-datepicker-toggle moj-js-datepicker-toggle" type="button" aria-haspopup="dialog" aria-controls="datepicker-date" aria-expanded="false">
              <span class="govuk-visually-hidden">Choose date</span>
              <svg width="32" height="24" focusable="false" class="moj-datepicker-icon" aria-hidden="true" role="img" viewBox="0 0 22 22">
                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16.1333 2.93333H5.86668V4.4C5.86668 5.21002 5.21003 5.86667 4.40002 5.86667C3.59 5.86667 2.93335 5.21002 2.93335 4.4V2.93333H2C0.895431 2.93333 0 3.82877 0 4.93334V19.2667C0 20.3712 0.89543 21.2667 2 21.2667H20C21.1046 21.2667 22 20.3712 22 19.2667V4.93333C22 3.82876 21.1046 2.93333 20 2.93333H19.0667V4.4C19.0667 5.21002 18.41 5.86667 17.6 5.86667C16.79 5.86667 16.1333 5.21002 16.1333 4.4V2.93333ZM20.5333 8.06667H1.46665V18.8C1.46665 19.3523 1.91436 19.8 2.46665 19.8H19.5333C20.0856 19.8 20.5333 19.3523 20.5333 18.8V8.06667Z"></path>
                <rect x="3.66669" width="1.46667" height="5.13333" rx="0.733333" fill="currentColor"></rect>
                <rect x="16.8667" width="1.46667" height="5.13333" rx="0.733333" fill="currentColor"></rect>
              </svg>
            </button>
          </div>
        </div>
  
        <!-- NATIONAL INSURANCE NUMBER -->  
        <div>
        {{ govukInput({
          label: {
            text: "Parent or guardian National Insurance number ",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          id: "PGNationalInsuranceNumber",
          name: "PGNationalInsuranceNumber",
          spellcheck: false,
          value: data['PGNationalInsuranceNumber'],
          hint: {
            text: "For example, ‘QQ123456C’"
          }
        }) }}
        </div>

        <!-- ADDRESS -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% call govukFieldset({
          legend: {
            text: "Parent or guardian address",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
        {{ govukInput({
          label: {
            text: "Address line 1",
            classes: "govuk-label"
          },
          id: "PGAddressLine1",
          name: "PGAddressLine1",
          value: data['PGAddressLine1'],
          classes: "govuk-input--width-30"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Address line 2",
            classes: "govuk-label"
          },
          id: "PGAddressLine2",
          name: "PGAddressLine2",
          value: data['PGAddressLine2'],
          classes: "govuk-input--width-30"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Address line 3",
            classes: "govuk-label"
          },
          id: "PGAddressLine3",
          name: "PGAddressLine3",
          value: data['PGAddressLine3'],
          classes: "govuk-input--width-20"
        }) }}
    
      
        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-10",
          id: "PGAddressPostcode",
          name: "PGAddressPostcode",
          value: data['PGAddressPostcode']
        }) }}

      {% endcall %}

      {% if data['defendantTypeF'] == "Adult or youth with parent or guardian to pay" %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Parent or guardian vehicle details</h2>

        {{ govukInput({
          label: {
            text: "Make and model",
            classes: "govuk-label--s"
          },
          id: "carMake",
          name: "carMake",
          classes: "govuk-input--width-20",
          value: data['carMake']
        }) }}

        {{ govukInput({
          label: {
            text: "Registration number",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          id: "carRegistration",
          name: "carRegistration",
          value: data['carRegistration']
        }) }}

      {% endif %}
        
        
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">
          Return to account details
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary"  formaction="./contact-details">
          Add contact details
        </button>
      </div>

      </form>

      <p class="govuk-body"><a class="govuk-link govuk-! govuk-link--no-visited-state" href="account-details.html">Cancel</a></p>

    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('parent-guardian-details-form');
      const formFields = form.querySelectorAll('input[type="text"], input[type="email"], input[type="tel"], textarea');
  
      // Function to check if any form field is filled out
      function isFormFilled() {
        for (let field of formFields) {
          if (field.value.trim() !== '') {
            return true;
          }
        }
        return false;
      }
  
      // Update status based on form input
      function updateStatus() {
        if (isFormFilled()) {
          localStorage.setItem('parentGuardianDetailsProvided', 'true');
        } else {
          localStorage.setItem('parentGuardianDetailsProvided', 'false');
        }
      }
  
      // Add event listeners to form buttons
      form.addEventListener('submit', function(event) {
        updateStatus();
      });
    });
  </script>

{% endblock %}
