{% if data['Offence1_Code'] == "RR84205" %}
Speeding – exceed limit for type of vehicle (not goods/passenger vehicle) – manned equipment
{% elseif data['Offence1_Code'] == "PH97003" %}
Harassment – breach of a restraining order on conviction
{% elseif data['Offence1_Code'] == "CD71039" %}
Criminal Damage to property valued under £5000.00
{% elseif data['Offence1_Code'] == "TH68010" %}
Theft from a shop
{% elseif data['Offence1_Code'] == "RT88567" %}
Fail to give information relating to the identification of the driver/rider of a vehicle when required
{% elseif data['Offence1_Code'] == "CJ88116" %}
Assault by beating of an emergency worker
{% elseif data['Offence1_Code'] == "TH68050" %}
Take a motor vehicle without the owners consent
{% elseif data['Offence1_Code'] == "TH68036" %}
Burglary dwelling and theft – no violence
{% elseif data['Offence1_Code'] == "TH68045" %}
Aggravated Burglary – dwelling
{% elseif data['Offence1_Code'] == "OF61017" %}
Section 18 - Grievous Bodily Harm with Intent
{% else %}
Do an act to scare / deter trout / salmon
{% endif %}

{% if (data['Offence1_Code'] | upper ) == "RR84205" %}
Speeding – exceed limit for type of vehicle (not goods/passenger vehicle) – manned equipment
{% elseif (data['Offence1_Code'] | upper) == "PH97003" %}
Harassment – breach of a restraining order on conviction
{% elseif data['Offence1_Code'] == "CD71039" %}
Criminal Damage to property valued under £5000.00
{% elseif data['Offence1_Code'] == "TH68010" %}
Theft from a shop
{% elseif data['Offence1_Code'] == "RT88567" %}
Fail to give information relating to the identification of the driver/rider of a vehicle when required
{% elseif data['Offence1_Code'] == "CJ88116" %}
Assault by beating of an emergency worker
{% elseif data['Offence1_Code'] == "TH68050" %}
Take a motor vehicle without the owners consent
{% elseif data['Offence1_Code'] == "TH68036" %}
Burglary dwelling and theft – no violence
{% elseif data['Offence1_Code'] == "TH68045" %}
Aggravated Burglary – dwelling
{% elseif data['Offence1_Code'] == "OF61017" %}
Section 18 - Grievous Bodily Harm with Intent
{% else %}
Do an act to scare / deter trout / salmon
{% endif %}