{% extends "layouts/main.html" %}

{% set pageName = "Create fines account" %}

{% block pageTitle %}
{{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a href="./account-details.html" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">{{ data['businessUnit'] }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ pageName }}</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">Originating LJA: {{ data['ljaCode'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-2">Reference number: {{ data['ljaReferenceCode'] or 'Not provided'}}</p>
      <p class="govuk-body govuk-!-margin-bottom-2">Defendant type: {{ data['defendantType'] or 'Individual only'}}</p>


    </div>  
  </div>  

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <h2 class="govuk-heading-m">Defendant details</h2>

      <!-- <p class="govuk-body">Individual only.</p> -->


      {% set notStarted = {
        tag: {
          text: "Not provided",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set inProgress = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--light-blue"
        }
      } %}

      {% set completedStatus = {
        text: "Completed"
      } %}

      <!-- CONDITIONS FOR STATUS TAGS -->
      {% if (data['PDstatus'] == 'Completed') %}
      {% set taskComplete = {
          text: "Completed"
      } %}
      {% else %}
      {% set taskComplete = {
        tag: {
          text: "Not provided",
          classes: "govuk-tag--blue"
        }
      } %}
      {% endif %}

      <!-- TASK LIST -->
      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Personal details"
            },
            href: './personal-details/check-answers' if data['personal-details-end'] == 'true' else './personal-details/personal-details',
            status: taskComplete
          },

          {
            title: {
              text: "Contact preferences"
            },
            href: "#",
            status: notStarted
          },

          {
            title: {
              text: "Employer"
            },
            href: "#",
            status: notStarted
          },

          {
            title: {
              text: "Vehicle details"
            },
            href: "#",
            status: notStarted
          }
          
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Offences and payment terms</h2>

      {{ govukTaskList({
        idPrefix: "third-section",
        items: [
          {
            title: {
              text: "Offences"
            },
            href: "#",
            status: {
              tag: {
                text: "Not provided",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Payment terms"
            },
            href: "#",
            status: {
              tag: {
                text: "Not provided",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Review and save</h2>

      <p class="govuk-body">Check that all required fields have been entered before you can save a draft.</p>

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Save as draft", href: "#" }) }}
      </div>

    </div>
    
    <!-- <div  class="govuk-grid-column-one-third" >
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "Related link",
            href: "#"
          }, {
            text: "Related link",
            href: "#"
          }],
          subsections: [{
            title: "Subsection",
            items: [{
              text: "Related link",
              href: "#"
            }]
          }]
        }]
      }) }}
    </div> -->
    
  </div>
{% endblock %}
