{% extends "layouts/main.html" %}

{% set pageName = "Create account" %}

{% block pageTitle %}
{{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a href="account-details.html" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <!-- <p class="govuk-body govuk-!-margin-bottom-6">Document and hearing language are in <a class="govuk-link--no-visited-state" href="#">Welsh and English</a>.</p> -->
    {% if data['businessUnit'] == "Gwent" %}

    <span class="govuk-caption-l">{{ data['businessUnit'] or "Bedfordshire" }}</span>
    <h1 class="govuk-heading-l ">{{ pageName }}</h1>

    <!-- class="govuk-!-margin-bottom-6" style="background-color: #EEEFEF; padding: 15px;" -->
    <!-- <div >
      <p class="govuk-body-s govuk-!-margin-bottom-2"><strong><a class="govuk-link--no-visited-state" href="#">Language preference</strong></a></p>
      <p class="govuk-body govuk-!-margin-bottom-2">Document language: Welsh and English<a class="govuk-link--no-visited-state" href="#"></a></p>
      <p class="govuk-body govuk-!-margin-bottom-2">Court hearing language: Welsh and English<a class="govuk-link--no-visited-state" href="#"></a></p>
      <p class="govuk-body govuk-!-margin-bottom-6"><a class="govuk-link--no-visited-state" href="#">Change</a></p>
    </div> -->

    {% else %}

    <span class="govuk-caption-l">{{ data['businessUnit'] or "Bedfordshire" }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ pageName }}</h1>

    {% endif %}

    


    <!-- <details class="govuk-details govuk-!-margin-bottom-8">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Change language preference
        </span>
      </summary>
      <div class="govuk-details__text">
        {{ govukRadios({
          name: "documentLanguage",
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: "Documents",
              classes: "govuk-fieldset__legend--s"
            }
          },
          value: data['documentLanguage'],
          items: [
            {
              value: "English only",
              text: "English only"
            },
            {
              value: "Welsh and English",
              text: "Welsh and English"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "hearingLanguage",
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: "Court hearings",
              classes: "govuk-fieldset__legend--s"
            }
          },
          value: data['hearingLanguage'],
          items: [
            {
              value: "English only",
              text: "English only"
            },
            {
              value: "Welsh and English",
              text: "Welsh and English"
            }
          ]
        }) }}
      </div>
    </details> -->
  

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <!-- CONDITIONS FOR STATUS TAGS -->
    <div>

      <!-- GENERAL NOT STARTED -->
      {% set notStarted = {
        tag: {
          text: "Not provided",
          classes: "govuk-tag--blue"
        }
      } %}

      <!-- COURT DETAILS -->

      {% if (data['cdCompleted'] == "true") %}

          {% set cdStatusTag = {
            tag: {
              text: "Completed",
              classes: "govuk-tag--blue"
            }
          } %}
          
        {% else %}

          {% set cdStatusTag = {
            tag: {
              text: "Not provided",
              classes: "govuk-tag--grey"
            }
          } %}
      
      {% endif %}

      <!-- PERSONAL DETAILS -->

      {% if (data['pdCompleted'] == "true") %}

          {% set pdStatusTag = {
            tag: {
              text: "Completed",
              classes: "govuk-tag--blue"
            }
          } %}
          
        {% else %}

          {% set pdStatusTag = {
            tag: {
              text: "Not provided",
              classes: "govuk-tag--grey"
            }
          } %}
      
      {% endif %}

      <!-- COMPANY DETAILS -->

      {% if (data['codCompleted'] == "true") %}

          {% set codStatusTag = {
            tag: {
              text: "Completed",
              classes: "govuk-tag--blue"
            }
          } %}
          
        {% else %}

          {% set codStatusTag = {
            tag: {
              text: "Not provided",
              classes: "govuk-tag--grey"
            }
          } %}
      
      {% endif %}

      <!-- CONTACT PREFERENCES -->

      {% if (data['cpCompleted'] == "true") %}

          {% set cpStatusTag = {
            tag: {
              text: "Completed",
              classes: "govuk-tag--blue"
            }
          } %}
          
        {% else %}

          {% set cpStatusTag = {
            tag: {
              text: "Not provided",
              classes: "govuk-tag--grey"
            }
          } %}
      
      {% endif %}

        <!-- EMPLOYER DETAILS -->

        {% if (data['edCompleted'] == "true") %}

        {% set edStatusTag = {
          tag: {
            text: "Completed",
            classes: "govuk-tag--blue"
          }
        } %}
        
      {% else %}

        {% set edStatusTag = {
          tag: {
            text: "Not provided",
            classes: "govuk-tag--grey"
          }
        } %}
      
        {% endif %}

        <!-- PARENT OR GUARDIAN DETAILS -->

        {% if (data['pgdCompleted'] == "true") %}

        {% set pgdStatusTag = {
          tag: {
            text: "Completed",
            classes: "govuk-tag--blue"
          }
        } %}
        
      {% else %}

        {% set pgdStatusTag = {
          tag: {
            text: "Not provided",
            classes: "govuk-tag--grey"
          }
        } %}
      
        {% endif %}

        <!-- VEHICLE DETAILS -->

        {% if (data['lpCompleted'] == "true") %}

        {% set lpStatusTag = {
          tag: {
            text: "Completed",
            classes: "govuk-tag--blue"
          }
        } %}
        
      {% else %}

        {% set lpStatusTag = {
          tag: {
            text: "Not provided",
            classes: "govuk-tag--grey"
          }
        } %}
      
        {% endif %}

      <!-- OFFENCE DETAILS -->

      {% if (data['ofdCompleted'] == "true") %}

          {% set ofdStatusTag = {
            tag: {
              text: "Completed",
              classes: "govuk-tag--blue"
            }
          } %}
          
        {% else %}

          {% set ofdStatusTag = {
            tag: {
              text: "Not provided",
              classes: "govuk-tag--grey"
            }
          } %}
      
      {% endif %}

      <!-- PAYMENT TERMS -->

      {% if (data['ptCompleted'] == "true") %}

          {% set ptStatusTag = {
            tag: {
              text: "Completed",
              classes: "govuk-tag--blue"
            }
          } %}
          
        {% else %}

          {% set ptStatusTag = {
            tag: {
              text: "Not provided",
              classes: "govuk-tag--grey"
            }
          } %}
      
      {% endif %}
    </div>

    <h2 class="govuk-heading-m ">Court details</h2>

    {{ govukTaskList({
      idPrefix: "first-section",
      items: [
        {
          title: {
            text: "Court details",
            classes: "govuk-link--no-visited-state"
          },
          href: 'court-details',
          status: cdStatusTag
        }
      ]
    }) }}

    {% if data['defendantType'] == 'Adult or youth with parent or guardian to pay' %}
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Parent or guardian details</h2>

     <!-- TASK LIST -->
     {{ govukTaskList({
      idPrefix: "second-section",
      items: [
        {
          title: {
            text: "Parent or guardian details",
            classes: "govuk-link--no-visited-state"
          },
          href: 'parent-guardian-details',
          status: pgdStatusTag
        },
        {
          title: {
            text: "Employer details",
            classes: "govuk-link--no-visited-state"
          },
          href: "employer-details",
          status: edStatusTag
        }
      ] | removeEmpty
    }) }}

    {% endif %}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Defendant details</h2>
    <!-- <p class="govuk-body">Defendant type is {{ data['defendantType'] or 'Adult or youth only'}}.</p> -->

    <!-- TASK LIST -->
    {{ govukTaskList({
      idPrefix: "second-section",
      items: [
        {
          title: {
            text: "Personal details",
            classes: "govuk-link--no-visited-state"
          },
          href: 'personal-details',
          status: pdStatusTag
        } if data['defendantType'] == 'Adult or youth only' or data['defendantType'] == 'Adult or youth with parent or guardian to pay',
        {
          title: {
            text: "Company details",
            classes: "govuk-link--no-visited-state"
          },
          href: 'company-details',
          status: codStatusTag
        } if data['defendantType'] == 'Company',
        {
          title: {
            text: "Contact details",
            classes: "govuk-link--no-visited-state"
          },
          href: "contact-preferences",
          status: cpStatusTag
        },
        {
          title: {
            text: "Employer details",
            classes: "govuk-link--no-visited-state"
          },
          href: "employer-details",
          status: edStatusTag
        } if data['defendantType'] == 'Adult or youth only'
      ] | removeEmpty
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Offence and imposition details</h2>

    {{ govukTaskList({
      idPrefix: "third-section",
      items: [
        {
          title: {
            text: "Offence details",
            classes: "govuk-link--no-visited-state"
          },
          datamodule: "edge",
          href: '#',
          status: ofdStatusTag
        },
        {
          title: {
            text: "Payment terms",
            classes: "govuk-link--no-visited-state"
          },
          href: "#",
          status: ptStatusTag
        }
      ] 
    }) }}

    <!-- <h2 class="govuk-heading-m govuk-!-margin-top-7">Additional information</h2>

    {{ govukTaskList({
      idPrefix: "fourth-section",
      items: [
        {
          title: {
            text: "Additional information",
            classes: "govuk-link--no-visited-state"
          },
          href: './summary/check-answers' if data['additional-information-end'] == 'true' else './summary/summary',
          status: AItaskComplete
        }
      ]
    }) }} -->

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Review and publish</h2>

    <p class="govuk-body">Check that all required fields have been entered before you publish.</p>

    <div class="" data-module="edge">
      {{ govukButton({ text: "Review account", href: "#" }) }}
    </div>

    <p data-module="edge" class="govuk-body govuk-!-margin-top-2"><a href="#" class="govuk-link app-destructive-link">Delete account</a></p>

  </div> 


  {% if data['businessUnit'] == "Gwent" %}

  <div class="govuk-grid-column-one-third" >
    <div class="x-govuk-related-navigation">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Heading
        </h2>
        <p class="govuk-body-s govuk-!-margin-bottom-2"><strong>Documents</strong>: Welsh and English</p>
        <p class="govuk-body-s govuk-!-margin-bottom-2"><strong>Court hearing</strong>: Welsh and English</p>

        <p class="govuk-body-s" data-module="edge">
          <a  class="govuk-link--no-visited-state" href="#">Change</a>
        </p>


        <!-- <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="/school-performance-tables">Find and compare schools in England</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="/types-of-school">Types of school</a>
          </li>
        </ul> -->
        <!-- <nav role="navigation" class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-explore-the-topic">
          <h3 class="x-govuk-related-navigation__sub-heading" id="related-navigation-explore-the-topic">
            Explore the topic
          </h3>
          <ul class="x-govuk-related-navigation__link-list">
            <li class="x-govuk-related-navigation__link">
              <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Schools and curriculum</a>
            </li>
          </ul>
        </nav> -->
      </nav>
    </div>

    <!-- <div style="border-top: 2px solid #1D70B8;">
    <p class="govuk-body-s govuk-!-margin-top-3"><strong>Language preference</strong></p>

    <p class="govuk-body-s govuk-!-margin-bottom-2">Documents: <strong>Welsh and English</strong></p>
    <p class="govuk-body-s  govuk-!-margin-bottom-2">Court hearing: <strong>Welsh and English</strong></p>

    <p class="govuk-body-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link--no-visited-state">Change</a></p>

    </div> -->
  </div>

  {% endif %}

</div>
{% endblock %}
