{% extends "layouts/main.html" %}

{% set pageName = "Adrian Smith" %}

{% block beforeContent %}

<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {% if data['name'] == "JonesMichael"%}
        Mr Michael JONES
      {% else %}
       John Smith
      {% endif %}
    </h1>

    <!-- HISTORY -->

    {%- set rejectedHTML %}
      <div class="govuk-!-padding-2" style="background-color: #f3f2f1;">
        <p class="govuk-body govuk-!-margin-bottom-0">Spelling mistake in defendant first name</p>
      </div>
    {% endset -%}

    <h2 class="govuk-heading-m">Review history</h2>

    <div class="moj-timeline govuk-!-margin-bottom-6">
      <div class="moj-timeline__item ">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Rejected</h2>
    
          <p class="moj-timeline__byline">by joe.bloggs</p>
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
        </p>
    
        <div class="moj-timeline__description">
          <div class="govuk-!-padding-2" style="background-color: #f3f2f1;">
            <p class="govuk-body govuk-!-margin-bottom-0">Spelling mistake in defendant first name</p>
          </div>
        </div>
    
      </div>
      <div class="moj-timeline__item govuk-!-padding-bottom-0">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Created</h2>
    
          <p class="moj-timeline__byline">by jane.smith</p>
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
        </p>
    
      </div>
    </div> 
    
    

    

  </div>
</div>
{% endblock %}
