{% extends "layouts/main.html" %}

{% set pageName = "Check payment" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./payment-details.html"
}) }}

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Payment category"
            },
            value: {
              text: data['paymentCategory']
            },
            actions: {
              items: [
                {
                  href: "./payment-category.html",
                  text: "Change",
                  visuallyHiddenText: "payment category"
                }
              ]
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Review till",
          href: "./till-details.html?payments=1"
        }) }}

        {{ govukButton({
          text: "Add another payment",
          classes: "govuk-button--secondary",
          href: "./payment-category.html?payments=1"
        }) }}
      </div>

      <p class="govuk-body"><a href="./till-details.html" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

      
      
    </div>
  </div>

{% endblock %}
