{% extends "layouts/main.html" %}

{% set pageName = "Till details" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./business-unit.html"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{data['businessUnit']}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <!-- {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Business unit"
            },
            value: {
              text: data['businessUnit']
            }
          }
        ]
      }) }} -->
    </div>
  </div>    

      

      {% if (data['payment'] == "1") %}

          <h2 class="govuk-heading-m">Payments</h2>

          <!-- <dl class="govuk-summary-list">
            {% if data['payment1'] == "true" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Criminal
              </dt>
              <dd class="govuk-summary-list__value">
                David THOMPSON ({{ data['payment1AccountNumber'] or "06000427N" }})<br>{{ (data['payment1Amount'] | currency) + " – " + (data['payment1Method'])}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="./payment-1/check-payment.html">
                      Change<span class="govuk-visually-hidden">payment</span>
                    </a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden">payment</span>
                    </a>
                  </li>
                </ul>
              </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Court fee
              </dt>
              <dd class="govuk-summary-list__value">
                {{ (data['payment1Amount'] | currency) + " – " + (data['payment1Method'])}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="./payment-1/check-payment.html">
                      Change<span class="govuk-visually-hidden">payment</span>
                    </a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden">payment</span>
                    </a>
                  </li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Suspense
              </dt>
              <dd class="govuk-summary-list__value">
                {{ (data['payment1Amount'] | currency) + " – Cheque" }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="./payment-1/check-payment.html">
                      Change<span class="govuk-visually-hidden">payment</span>
                    </a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden">payment</span>
                    </a>
                  </li>
                </ul>
              </dd>
            </div>
          </dl> -->

          
          <!-- TABLE -->
           <div class="moj-scrollable-pane">

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Category</th>
                <th scope="col" class="govuk-table__header">Defendant</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Payee</th>
                <th scope="col" class="govuk-table__header">Method</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-right">Actions</th>
                
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% if (data['payment1'] == "true") %}
              <tr class="govuk-table__row govuk-body-s">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">{{ data['payment1Category'] }}</th>
                <td class="govuk-table__cell">David THOMPSON ({{ data['payment1AccountNumber'] or "06000427N" }})</td>
                <td class="govuk-table__cell">{{ data['payment1Amount'] | currency }}</td>
                <td class="govuk-table__cell">{{ data['payment1Payee'] }}</td>
                <td class="govuk-table__cell">{{ data['payment1Method'] }}</td>
                <td class="govuk-table__cell">
                  <ul class="govuk-summary-list__actions-list govuk-!-text-align-right">
                        <li class="govuk-summary-list__actions-list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="./payment-1/check-payment.html">
                            Change<span class="govuk-visually-hidden">payment</span>
                          </a>
                        </li>
                        <li class="govuk-summary-list__actions-list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Remove<span class="govuk-visually-hidden">payment</span>
                          </a>
                        </li>
                  </ul>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>

          </div>
          

          <!-- ADD PAYMENT LOGIC -->
          {{ govukButton({
              text: "Add payment",
              classes: "govuk-button--secondary",
              href: "./payment-2/payment-category.html"
          }) }}

          <!-- SUMMARY -->
           <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Summary</h2>

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Payments"
                },
                value: {
                  text: data['payments']
                }
              },
              {
                key: {
                  text: "Total"
                },
                value: {
                  text: (+data['payment1Amount'] | currency)
                }
              }
            ]
          }) }}

          <h2 class="govuk-heading-m">Create till</h2>

          <p class="govuk-body">You cannot change these details after you have created the till. You can download the till details to share for review before you create the till.</p>

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Create till",
              classes: "",
              href: "../index.html"
          }) }}

            {{ govukButton({
              text: "Save details as PDF",
              classes: "govuk-button--secondary",
              href: "#"
            }) }}
          </div>

          </div>
          </div>

          

      {% else %}

          <h2 class="govuk-heading-m">Payments</h2>

          <!-- <p class="govuk-body">There are no payments.</p> -->

          {{ govukButton({
              text: "Add payment",
              classes: "govuk-button--secondary",
              href: "./payment-1/payment-category.html"
          }) }}
          

          <h2 class="govuk-heading-m">Create till</h2>

          <p class="govuk-body">You must add at least 1 payment to the till.</p>

      {% endif %}

        </div>
    </div>  


      

      <p class="govuk-body"><a href="./index.html" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>
      
    </div>
  </div>

{% endblock %}
