{% extends "layouts/fixed-penalty.html" %}

{% set pageName = "Fixed Penalty uploads" %}

{% block beforeContent %}

<!-- <a href="../index.html" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="moj-page-header-actions govuk-!-margin-bottom-6">

        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l">{{pageName}}</h1>
        </div>
      
        <div class="moj-page-header-actions__actions">
    
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">
      
              <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                Print register
              </button>
      
            </div>
          </div>
      
        </div>
      
      </div>

      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="to-review.html">
              To publish 
              <!-- <span id="notifications" class="govuk-!-margin-left-1 moj-notification-badge">6</span> -->
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="published.html">
              Published
              <!-- <span id="notifications" class="govuk-!-margin-left-1 moj-notification-badge">1</span> -->
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="errors.html">
              Upload errors
              <!-- <span id="notifications" class="govuk-!-margin-left-1 moj-notification-badge">1</span> -->
            </a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">Published</h2>

      <style>
        .govuk-table__header {
          padding: 13px 20px 13px 0px;
        }

        .govuk-table__cell {
          padding: 13px 20px 13px 0px;
        }
        </style>

      <div class="moj-scrollable-pane">

       <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" aria-sort="none" scope="col" style="width: 10%;">Account</th>
              <th class="govuk-table__header" aria-sort="none" scope="col" style="width: 19%;">Name</th>
              <th class="govuk-table__header" aria-sort="none" scope="col" style="width: 10%;">Defendant</th>
              <th class="govuk-table__header" aria-sort="none" scope="col" style="width: 14%;">Date of birth</th>
              <th class="govuk-table__header" aria-sort="none" scope="col" style="width: 15%">Address line 1</th>
              <th class="govuk-table__header" aria-sort="none" scope="col" style="width: 18%;">Business unit</th>
              <th class="govuk-table__header govuk-table__cell--numeric" aria-sort="none" scope="col" style="width: 15%;">Imposed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state ">24000106S</a></td>
              <td class="govuk-table__cell">SMITH, Jane</td>
              <td class="govuk-table__cell">Adult</td>
              <td class="govuk-table__cell">05 May 1995</td>
              <td class="govuk-table__cell">123 High Street</td>
              <td class="govuk-table__cell">Avon and Somerset</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£150.00</td>
          </tr>
          
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state ">24000107S</a></td>
              <td class="govuk-table__cell">JOHNSON, Emma</td>
              <td class="govuk-table__cell">Youth</td>
              <td class="govuk-table__cell">17 Feb 2006</td>
              <td class="govuk-table__cell">45 Maple Road</td>
              <td class="govuk-table__cell">Avon and Somerset</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£150.00</td>
          </tr>
          
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state ">24000108S</a></td>
              <td class="govuk-table__cell">BROWN, Michael</td>
              <td class="govuk-table__cell">Adult</td>
              <td class="govuk-table__cell">23 Aug 1985</td>
              <td class="govuk-table__cell">7 Elm Avenue</td>
              <td class="govuk-table__cell">Avon and Somerset</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£150.00</td>
          </tr>
          
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state ">24000106D</a></td>
              <td class="govuk-table__cell">WILLIAMS, Sarah</td>
              <td class="govuk-table__cell">Youth</td>
              <td class="govuk-table__cell">29 Dec 2004</td>
              <td class="govuk-table__cell">88 Oak Street</td>
              <td class="govuk-table__cell">Devon</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£95.00</td>
          </tr>

          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state ">24000107D</a></td>
            <td class="govuk-table__cell">Evergreen Ltd.</td>
            <td class="govuk-table__cell">Company</td>
            <td class="govuk-table__cell">–</td>
            <td class="govuk-table__cell">Warehouse 2A</td>
            <td class="govuk-table__cell">Devon</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£150.00</td>
        </tr>
          


          </tbody>
        </table>
      </div>

      

    </div>
  </div>

  
{% endblock %}
