{% extends "layouts/main.html" %}

{% set pageName = "Review accounts" %}

{% block beforeContent %}

<!-- <a href="../index.html" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <!-- STATS FOR CHECKER -->
      <!-- <div style="display: inline-block" class="govuk-!-margin-bottom-4">

        <div class="govuk-!-padding-3 in-review govuk-tag--grey">
          <span class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold review-stats-text" style="color: #282d30;">6</span>
          <p class="govuk-body govuk-!-margin-bottom-0" style="color: #282d30;">In review</p>
        </div>

        <div class="govuk-!-padding-3 govuk-!-margin-left-3 in-review govuk-tag--grey">
          <span class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold review-stats-text" style="color: #282d30;">3</span>
          <p class="govuk-body govuk-!-margin-bottom-0" style="color: #282d30;">Rejected</p>
        </div>

      </div> -->

      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="in-review.html">
              To review
              <!-- <span id="notifications" class=" govuk-!-margin-left-1 moj-notification-badge">6</span>         -->
            </a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="rejected.html">
              Rejected
              <!-- <span id="notifications" class="govuk-!-margin-left-1 moj-notification-badge">1</span> -->
            </a>
          </li>

          <!-- <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="approved.html">
              Approved
            </a>
          </li> -->

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="deleted.html">
              Deleted
            </a>
          </li>
        </ul>
      
      </nav>

      <h2 class="govuk-heading-m">Deleted</h2>

      <p class="govuk-body">No accounts have been deleted in the past 7 days.</p>

      

    </div>
  </div>

  
{% endblock %}
