{% extends "layouts/main.html" %}

{% set pageName = "Check personal details" %}

{% block beforeContent %}

{% if data['personal-details-end'] == 'true'%}
  <a href="../task-list.html" class="govuk-back-link">Back</a>
{% else %}
  <a href="address.html" class="govuk-back-link">Back</a>
{% endif %}

{% endblock %}

{% block content %}

  {% set address %}
    {% if data['addressLine1'] %}
    {{data['addressLine1']}}<br>
    {% endif %}

    {% if data['addressLine2'] %}
    {{data['addressLine2']}}<br>
    {% endif %}

    {% if data['addressLine3'] %}
    {{data['addressLine3']}}<br>
    {% endif %}

    {% if data['addressPostcode'] %}
    {{data['addressPostcode']}}
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      

      {{ govukSummaryList({
        card: {
          title: {
            text: "Personal details"
          }
        },
        rows: [
          {
            key: {
              text: "Title"
            },
            value: {
              html: data['title'] or "Not provided"
            },
            actions: {
              items: [
                {
                  href: "personal-details?change-personal-details=true",
                  text: "Change",
                  visuallyHiddenText: "title"
                }
              ]
            }
          },
          {
            key: {
              text: "Full name"
            },
            value: {
              html: (data['firstName'] + ' ' + data['lastName']) if (data['firstName'] or data['lastName']) else "Not provided"
            }, 
            actions: {
              items: [
                {
                  href: "personal-details?change-personal-details=true",
                  text: "Change",
                  visuallyHiddenText: "First names"
                }
              ]
            }
          },
          {
            key: {
              text: "Aliases"
            },
            value: {
              html: (data['aliasFirstName'] + ' ' + data['aliasLastName']) if (data['aliasFirstName'] or data['aliasLastName']) else "Not provided"
            }, 
            actions: {
              items: [
                {
                  href: "personal-details?change-personal-details=true",
                  text: "Change",
                  visuallyHiddenText: "aliases"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: data['defendantDoB-day'] + ' ' + data['defendantDoB-month'] | monthName + ' ' + data['defendantDoB-year'] if data['defendantDoB-day'] and data['defendantDoB-month'] and data['defendantDoB-year'] else "Not provided"
            },
            actions: {
              items: [
                {
                  href: "personal-details?change-personal-details=true",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              html: data['defendantNationalInsuranceNumber'] | upper or 'Not provided' 
            },
            actions: {
              items: [
                {
                  href: "personal-details?change-personal-details=true",
                  text: "Change",
                  visuallyHiddenText: "national insurance number"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: address if data['addressLine1'] or data['addressLine2'] or data['addressLine3'] or data['addressPostcode'] else 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}


      <form method="post" novalidate action="../task-list?personal-details-end=true">

        {{ govukCheckboxes({
          name: "pdCompleted",
          values: data['pdCompleted'],
          items: [
            {
              value: "true",
              text: "I have completed this section"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Finish"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
