{% extends "layouts/main.html" %}

{% set pageName = "Additional information" %}

{% block beforeContent %}

<a href="../task-list.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate action="check-answers">



        {{ govukTextarea({
          name: "additionalInformation",
          id: "additionalInformation",
          label: {
            text: pageName,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "You can use this field to add further information, comments or references about the defendant or account"
          }
        }) }}
       
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>
        
{% endblock %}
