{% extends "layouts/main.html" %}

{% set pageName = "Add imposition" %}

{% block beforeContent %}

<a href="add-offence.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

        <p class="govuk-body">{{ data['offenceCode'] or HY35014 }}</p>
        <p class="govuk-body">Riding a bicycle on a footpath</p>

        <p class="govuk-body">{{data['sentenceDate-day'] + ' ' + data['sentenceDate-month'] | monthName + ' ' + data['sentenceDate-year'] if data['sentenceDate-day'] and data['sentenceDate-month'] and data['sentenceDate-year'] else "12 January 2024"}}</p>


        



        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body">This is where you will be able to add impositions and creditor details.</p>
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="../task-list.html">Go back to create account</a</p>



    </div>
  </div>
        
{% endblock %}
