{% extends "layouts/main.html" %}

{% set pageName = "Add creditor" %}

{% block beforeContent %}

<a href="add-imposition.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l" >{{data['offenceCode'] | upper or 'HY35014'}}</span>
      <form method="post" novalidate action="check-imposition">

          {% set creditorMajor %}
          {{ xGovukAutocomplete({
            id: "majorCreditorName",
            name: "majorCreditorName",
            classes: "govuk-!-margin-bottom-8",
            value: data['majorCreditorName'],
            allowEmpty: false,
            label: {
              classes: "govuk-label--s",
              text: 'Name or code of creditor'
            },
            items: [
              { text: "Abellio Greater Anglia Ltd (AGAL)" },
              { text: "Aldi (ALDI)" },
              { text: "Anglia Trains (ANGL)" },
              { text: "Asda (ASDA)" },
              { text: "Bedford Borough Council (BEDB)" },
              { text: "B & Q Stores (BNQL)" },
              { text: "Boots (BOOT)" },
              { text: "British Transport Police (BTPO)" },
              { text: "Cambridge City Council (CAMC)" },
              { text: "Charles & Ashby Revenue Ltd (CARV)" },
              { text: "Cambs County Council Education (CBC1)" },
              { text: "Cambridgeshire County Council. (CBCC)" },
              { text: "Central Trains (CENT)" },
              { text: "City of London Police (COLP)" },
              { text: "Co-Operative Group (COP2)" },
              { text: "Crown Prosecution Service (CPS)" },
              { text: "DVLA (DVL2)" },
              { text: "DVSA (DVSA)" },
              { text: "DWP DM (DWP1)" },
              { text: "East Cambs. District Council (ECDC)" },
              { text: "Abellio East Midlands Ltd (EMT1)" },
              { text: "Fenland District Council (FDC)" },
              { text: "Govia Thameslink Railway Ltd (GTLR)" },
              { text: "HMCTS (HMCS)" },
              { text: "HM Revenue and Customs (HMRC)" },
              { text: "Huntingdon District Council (HUDC)" },
              { text: "Iceland Stores (ICE1)" },
              { text: "Insolvency Service (INSS)" },
              { text: "John Lewis Stores (JLEW)" },
              { text: "Lidl Stores (LIDL)" },
              { text: "London North Eastern Railway (LNER)" },
              { text: "Merseyrail Electrics 2002 Ltd (METV)" },
              { text: "Morrisons (MORR)" },
              { text: "Marks and Spencer (MSP)" },
              { text: "Next (NEXT)" },
              { text: "NOMS (NOMS)" },
              { text: "Environment Agency (NRA1)" },
              { text: "Peterborough City Council (PCTC)" },
              { text: "Poundland (PLD)" },
              { text: "Metropolitan Police (PO01)" },
              { text: "PCC for Merseyside (PO05)" },
              { text: "PCC for North Yorkshire (PO12)" },
              { text: "PCC for West Midlands (PO20)" },
              { text: "PCC for Staffordshire (PO21)" },
              { text: "PCC for Derbyshire (PO30)" },
              { text: "PCC for Lincolnshire (PO32)" },
              { text: "PCC for Leicestershire (PO33)" },
              { text: "PCC for Northamptonshire (PO34)" },
              { text: "PCC for Cambridgeshire (PO35)" },
              { text: "PCC for Norfolk (PO36)" },
              { text: "PCC for Suffolk (PO37)" },
              { text: "PCC for Bedfordshire (PO40)" },
              { text: "PCC for Hertfordshire (PO41)" },
              { text: "PCC for Essex (PO42)" },
              { text: "PCC for Thames Valley (PO43)" },
              { text: "PCC for Hampshire (PO44)" },
              { text: "PCC for Surrey (PO45)" },
              { text: "PCC for Kent (PO46)" },
              { text: "Sussex Police (PO47)" },
              { text: "PCC for Avon & Somerset (PO52)" },
              { text: "PCC for Wiltshire (PO54)" },
              { text: "PCC for North Wales (PO60)" },
              { text: "PCC for South Wales (PO62)" },
              { text: "PCC for Dyfed Powys (PO63)" },
              { text: "RSPCA (RSPC)" },
              { text: "Sainsbury's (SAIN)" },
              { text: "South Cambridge D C (SCDC)" },
              { text: "Superdrug (SDRG)" },
              { text: "Tesco (TESC)" },
              { text: "Transport for London (TFL2)" },
              { text: "TK Maxx (TKMX)" },
              { text: "Transport Investigations Ltd (TRAN)" },
              { text: "Capital Business Services Ltd (TVL3)" },
              { text: "National Express Trains LTD (WAGN)" },
              { text: "Wilkinson Stores (WILK)" },
              { text: "Waitrose (WTRO)" }
            ]
          }) }}
          
          {% endset -%}
        
          {{ govukRadios({
            name: "creditor",
            fieldset: {
              legend: {
                text: pageName,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            value: data['creditor'],
            items: [
              {
                value: "Major creditor",
                text: "Major creditor",
                conditional: {
                  html: creditorMajor
                }
              },
              {
                value: "Minor creditor",
                text: "Minor creditor"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
        
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body">This is where you will be able to add impositions and creditor details.</p>
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="../task-list.html">Go back to create account</a</p> -->



    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <div class="govuk-!-margin-bottom-6" style="border-top: 2px solid #B1B4B6; padding-top: 15px">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Offence 1</h2>       
        <p class="govuk-body-s govuk-!-margin-bottom-2">Riding a bicycle on a footpath ({{ data['offenceCode'] | upper or HY35014 }})</p>
        <p class="govuk-body-s govuk-!-margin-bottom-2">Sentence: {{data['sentenceDate-day'] + ' ' + data['sentenceDate-month'] | monthName + ' ' + data['sentenceDate-year'] if data['sentenceDate-day'] and data['sentenceDate-month'] and data['sentenceDate-year'] else "12 January 2024"}}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-1"><a class="govuk-link--no-visited-state" href="./add-offence.html">Change</a></p>
      </div>
    </div> -->
  </div>
        
{% endblock %}
