{% extends "layouts/main.html" %}

{% set pageName = "Defendant details" %}

{% block beforeContent %}

<a href="defendant-type.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate action="contact-details?cdCompleted=true">

        <!-- COMPANY NAME -->
        <div>
          {{ govukInput({
            id: "company-name",
            name: "companyName",
            type: "text",
            value: data['companyName'],
            label: {
              text: "Company name",
              classes: "govuk-label--s"
            }
          }) }}

          {% set aliasHTML %}
        <div data-module="moj-add-another">

          {% call govukFieldset({
            classes: 'moj-add-another__item',
            legend: {
              text: 'Alias 1',
              classes: 'moj-add-another__title govuk-fieldset__legend--s',
              isPageHeading: false
            }
          }) %}
      
          {{ govukInput({
            id: "[new][aliasCompanyName]",
            name: "[new][aliasCompanyName]",
            label: {
              text: "Company name"
            },
            value: data.new.aliasCompany
          }) }}

          {% endcall %}

          <div class="moj-button-action govuk-!-margin-top-4">
            {{ govukButton({
              text: 'Add another alias',
              classes: 'govuk-button--secondary govuk-!-margin-bottom-0',
              type: 'button'
            }) }}

            <!-- Missing class: moj-add-another__add-button -->

            
          </div>
        </div>
        {% endset -%}

        {{ govukCheckboxes({
          name: "aliases",
          values: data['aliases'],
          items: [
            {
              value: "yes",
              text: "Add aliases",
              conditional: {
                html: aliasHTML
              }
            }
          ]
        }) }}
        </div>

        {# Size modifiers: xl, l, m #}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Address line 1",
              classes: "govuk-label--s"
            },
            id: "address-line-1",
            name: "addressLine1",
            autocomplete: "address-line1",
            value: data['addressLine1']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 2",
              classes: "govuk-label--s"
            },
            id: "address-line-2",
            name: "addressLine2",
            autocomplete: "address-line2",
            value: data['addressLine2']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Address line 3",
              classes: "govuk-label--s"
            },
            id: "address-line-3",
            name: "addressLine3",
            autocomplete: "address-level3",
            value: data['addressLine3']
          }) }}
      
        
          {{ govukInput({
            label: {
              text: "Postcode",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "addressPostcode",
            autocomplete: "postal-code",
            value: data['addressPostcode']
          }) }}
        
        {% endcall %}



        
        {{ govukButton({
          text: "Return to task list"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
