{% extends "layouts/main.html" %}

{% set pageName = "Cheques report" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./task-list.html"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% if data['chequesReportReturning'] == "true" %}

                {% else %}
                {% if (data['chequesReport'] == "in-progress" or data['chequesReport'] == "ready" or data['chequesReport2'] == "in-progress" or data['chequesReport2'] == "ready") %}
                    {{ mojAlert({
                        variant: "success",
                        dismissible: false,
                        html: 'Report in progress.'
                    }) }}
                {% else %}
                {% endif %}

            {% endif %}


            <span class="govuk-caption-l">{{data['businessUnit']}}</span>
            <h1 class="govuk-heading-l">{{pageName}}</h1>

            
            <div class="govuk-button-group" data-module="edge">

                {% if (data['chequesReportCreated'] == "true" and data['chequesReportCreated2'] == "true") %}
                {{ govukButton({
                    text: "Create report",
                    classes: "",
                    href: "#"
                }) }}
                {% elseif data['chequesReportCreated'] == "true"  %}
                {{ govukButton({
                    text: "Create report",
                    classes: "",
                    href: "./create-cheques-report-2.html"
                }) }}
                {% else %}
                {{ govukButton({
                    text: "Create report",
                    classes: "",
                    href: "./create-cheques-report.html"
                }) }}
                {% endif %}

                
            </div>

            <!-- TABLE -->

            {% if data['chequesReportCreated'] == "true" %}
                <h2 class="govuk-heading-m">Today</h2>


                {% if data['chequesReport'] == "in-progress" %}
                {{ govukButton({
                        text: "Refresh",
                        classes: "govuk-button--secondary govuk-!-margin-bottom-4",
                        href: "./cheques-report.html?chequesReport=ready&chequesReport2=ready"
                }) }}
                {% elseif data['chequesReport'] == "ready" %}
                {{ govukButton({
                        text: "Refresh",
                        classes: "govuk-button--secondary govuk-!-margin-bottom-4",
                        href: "./cheques-report.html?chequesReport=ready&chequesReport2=ready"
                }) }}
                {% endif %}


                <div class="moj-scrollable-pane">
                <table class="govuk-table" data-module="moj-sortable-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 20%;">Date and time</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Title</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Business unit</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Created by</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
                        <th class="govuk-table__header empty" scope="col" aria-sort="none"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    {% if (data['chequesReportCreated2'] == "true" and data['chequesReport2'] == "in-progress") %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">19 Mar 2025 at 09:10</a></td>
                            <td class="govuk-table__cell">Cheques report – {{data['chequesReportType2']}}</td>
                            <td class="govuk-table__cell">{{data['businessUnit']}}</td>
                            <td class="govuk-table__cell">jane.smith</td>
                            <td class="govuk-table__cell">In progress</td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    {% endif %}
                    {% if (data['chequesReportCreated2'] == "true" and data['chequesReport2'] == "ready") %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">19 Mar 2025 at 09:10</a></td>
                            <td class="govuk-table__cell">Cheques report – {{data['chequesReportType2']}}</td>
                            <td class="govuk-table__cell">{{data['businessUnit']}}</td>
                            <td class="govuk-table__cell">jane.smith</td>
                            <td class="govuk-table__cell">Ready</td>
                            <td class="govuk-table__cell download"><a class="govuk-link govuk-link--no-visited-state"  href="#" download>Download</a></td>
                        </tr>
                    {% endif %}
                    
                    {% if data['chequesReport'] == "in-progress" %}
                    <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">19 Mar 2025 at 09:10</a></td>
                            <td class="govuk-table__cell">Cheques report – {{data['chequesReportType']}}</td>
                            <td class="govuk-table__cell">{{data['businessUnit']}}</td>
                            <td class="govuk-table__cell">jane.smith</td>
                            <td class="govuk-table__cell">In progress</td>
                            <td class="govuk-table__cell"></td>
                    </tr>
                    {% endif %}
                    {% if data['chequesReport'] == "ready" %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">19 Mar 2025 at 09:10</a></td>
                        <td class="govuk-table__cell">Cheques report – {{data['chequesReportType']}}</td>
                        <td class="govuk-table__cell">{{data['businessUnit']}}</td>
                        <td class="govuk-table__cell">jane.smith</td>
                        <td class="govuk-table__cell">Ready</td>
                        <td class="govuk-table__cell download"><a class="govuk-link govuk-link--no-visited-state"  href="#" download>Download</a></td>
                    </tr>
                    {% endif %}
                    
                    </tbody>

                </table>
                </div>
            

            {% else %}
            <h2 class="govuk-heading-m">Today</h2>
            

            <p class="govuk-body">No cheques reports have been created.</p>

    
            {% endif %}



               


            

    </div>
  </div>

   <style>

    .govuk-table__header.empty button {
        display: none;
        text-align: right;
    }

    .govuk-table__cell.download {
        text-align: right;
    }

  </style>

{% endblock %}


