{% extends "layouts/main.html" %}

{% set pageName = "Witness expenses report" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./task-list.html?witnessReturn=true"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['witnessReturning'] == "true" %}

                {% else %}
                {% if (data['witness'] == "in-progress" or data['witness'] == "ready") %}
                    {{ mojAlert({
                        variant: "success",
                        dismissible: false,
                        html: 'Report in progress.'
                    }) }}
                {% else %}
                {% endif %}

        {% endif %}


            <span class="govuk-caption-l">{{data['businessUnit']}}</span>
            <h1 class="govuk-heading-l">{{pageName}}</h1>
            
            <div class="govuk-button-group">
                <!-- {{ govukButton({
                    text: "Refresh",
                    classes: "govuk-button--secondary",
                    href: "./bank-list.html?presentedCheques=ready"
                }) }} -->
                {{ govukButton({
                    text: "Create report",
                    classes: "",
                    href: "./witnesses.html?witness=in-progress&witnessCreated=true"
                }) }}

                
            </div>

            <!-- TABLE -->

            {% if data['witness'] == "ready" %}
            <h2 class="govuk-heading-m">Today</h2>

            {{ govukButton({
                    text: "Refresh",
                    classes: "govuk-button--secondary govuk-!-margin-bottom-4",
                    href: "./witnesses.html?witness=ready"
                }) }}

            <div class="moj-scrollable-pane">
            <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 20%;">Date and time</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Title</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Business unit</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Created by</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
                    <th class="govuk-table__header empty" scope="col" aria-sort="none"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./witness-expenses-summary.html">19 Mar 2025 at 09:10</a></td>
                    <td class="govuk-table__cell">Witness expenses report</td>
                    <td class="govuk-table__cell">{{data['businessUnit']}}</td>
                    <td class="govuk-table__cell">jane.smith</td>
                    <td class="govuk-table__cell">No records</td>
                    <td class="govuk-table__cell download"><a class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
                </tr>
                </tbody>
            </table>
            </div>
            {% elseif data['witness'] == "in-progress" %}
            <h2 class="govuk-heading-m">Today</h2>

            {{ govukButton({
                    text: "Refresh",
                    classes: "govuk-button--secondary govuk-!-margin-bottom-4",
                    href: "./witnesses.html?witness=ready"
                }) }}

            <div class="moj-scrollable-pane">
                <table class="govuk-table" data-module="moj-sortable-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 20%;">Date and time</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Title</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Business unit</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Created by</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
                        <th class="govuk-table__header empty" scope="col" aria-sort="none"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./witness-expenses-summary.html">19 Mar 2025 at 09:10</a></td>
                        <td class="govuk-table__cell">Witness expenses report</td>
                        <td class="govuk-table__cell">{{data['businessUnit']}}</td>
                        <td class="govuk-table__cell">jane.smith</td>
                        <td class="govuk-table__cell">No records</td>
                    <td class="govuk-table__cell download"><a class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <h2 class="govuk-heading-m">Today</h2>
            

            <p class="govuk-body">No witness expenses reports have been created.</p>

            <!-- {{ govukButton({
                    text: "Refresh",
                    classes: "govuk-button--secondary ",
                    href: "#"
                }) }} -->
            {% endif %}



               


            

    </div>
  </div>

   <style>

    .govuk-table__header.empty button {
        display: none;
        text-align: right;
    }

    .govuk-table__cell.download {
        text-align: right;
    }

  </style>

{% endblock %}


