{% extends "layouts/main.html" %}

{% set pageName = "My accounts" %}

{% block beforeContent %}

<a href="../accounts-home.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      
      <h1 class="govuk-heading-l">{{pageName}}</h1>


      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item" >
            <a class="moj-sub-navigation__link"  href="in-review.html">
              In review
            </a>
          </li>
      
          <li class="moj-sub-navigation__item" style="display: ruby;">
            <a class="moj-sub-navigation__link" aria-current="page" href="rejected.html">Rejected</a>
            <span id="notifications" class=" govuk-!-margin-left-1 moj-notification-badge">1</span>   
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="approved.html">Approved</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="deleted.html">Deleted</a>
          </li>
        </ul>
      
      </nav>

      <h2 class="govuk-heading-m ">Rejected</h2>

      <table class="govuk-table" data-module="moj-sortable-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
      
            <th scope="col" class="govuk-table__header" style="width: 30%;" aria-sort="none">Defendant</th>
            
            <th scope="col" class="govuk-table__header" style="width: 20%;" aria-sort="none">Date of birth</th>

            <th scope="col" class="govuk-table__header" style="width: 20%;" aria-sort="none">Created</th>
      
            <th scope="col" class="govuk-table__header" style="width: 30%;" aria-sort="none">Business unit</th>

            <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Submitted by</th> -->
          </tr>
        </thead>
      
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underlines govuk-link--no-visited-state">JONES, Michael</a></td>
      
            <td class="govuk-table__cell">30 Jan 1992</td>

            <td class="govuk-table__cell">1 day ago</td>
      
            <td class="govuk-table__cell">Cambridgeshire</td>

            <!-- <td class="govuk-table__cell">sally.hughes</td> -->
          </tr>
      
        </tbody>
      </table>
      

    </div>
  </div>

  
{% endblock %}
