{% extends "layouts/main.html" %}

{% set pageName = "Add imposition" %}

{% block beforeContent %}

<a href="add-offence.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div  class="govuk-grid-column-two-thirds">

        <!-- <p class="govuk-body govuk-!-margin-bottom-1">Riding a bicycle on a footpath ({{ data['offenceCode'] | upper or HY35014 }})</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Date of sentence: {{data['sentenceDate-day'] + ' ' + data['sentenceDate-month'] | monthName + ' ' + data['sentenceDate-year'] if data['sentenceDate-day'] and data['sentenceDate-month'] and data['sentenceDate-year'] else "12 January 2024"}}</p>       -->

      <!-- <span class="govuk-caption-l">Riding a bicycle on a footpath ({{ data['offenceCode'] | upper or HY35014 }})</span> -->
      <!-- <span class="govuk-caption-l">Offence 1 ({{data['offenceCode']}})</span> -->
      <h1 class="govuk-heading-l">{{pageName}}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        

        <form method="post" novalidate action="add-creditor">
          
          <!-- RESULT CODE: OPTION A -->
          {{ govukRadios({
            name: "resultCode",
            classes: "govuk-radios--",
            fieldset: {
              legend: {
                text: "Result code",
                classes: "govuk-fieldset__legend--s"
              }
            },
            value: data['resultCode'],
            items: [
              {
                value: "Fine only (FO)",
                text: "Fine only (FO)"
              },
              {
                value: "Costs (FCOST)",
                text: "Costs (FCOST)"
              },
              {
                value: "Compensation (FCOMP)",
                text: "Compensation (FCOMP)"
              },
              {
                value: "Vehicle excise back duty (FVEBD)",
                text: "Vehicle excise back duty (FVEBD)"
              },
              {
                value: "Victim surcharge (FVS)",
                text: "Victim surcharge (FVS)"
              },
              {
                value: "Criminal Courts Charge (FCC)",
                text: "Criminal Courts Charge (FCC)"
              },
              {
                value: "Crown Prosecution Costs (FCPC)",
                text: "Crown Prosecution Costs (FCPC)"
              },
              {
                value: "Forfeited recognizance (FFR)",
                text: "Forfeited recognizance (FFR)"
              }
            ]
          }) }}
        
        
          <!-- RESULT CODE: OPTION B -->
          <!-- {{ xGovukAutocomplete({
          id: "resultCode",
          name: "resultCode",
          classes: "govuk-!-margin-bottom-8",
          value: data['resultCode'],
          allowEmpty: false,
          label: {
            classes: "govuk-label--s",
            text: "Result code"
          },
          hint: {
            text: "Search using result name or code"
          },
          items: [
            { text: "Fine only (FO)" },
            { text: "Costs (FCOST)" },
            { text: "Compensation (FCOMP)" },
            { text: "Vehicle excise back duty (FVEBD)" },
            { text: "Victim surcharge (FVS)" },
            { text: "Criminal Courts Charge (FCC)" },
            { text: "Crown Prosecution Costs (FCPC)" },
            { text: "Forfeited recognizance (FFR)" }
          ]
        }) }} -->

        {{ govukInput({
          id: "imposition",
          name: "imposition",
          value: data['imposition'],
          label: {
            text: "Imposed",
            classes: "govuk-label--s"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "paidSoFar",
          name: "paidSoFar",
          value: data['paidSoFar'],
          label: {
            text: "Paid so far",
            classes: "govuk-label--s"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
        
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body">This is where you will be able to add impositions and creditor details.</p>
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="../task-list.html">Go back to create account</a</p> -->



    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <div class="govuk-!-margin-bottom-6" style="border-top: 2px solid #B1B4B6; padding-top: 15px">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Offence 1</h2>       
        <p class="govuk-body-s govuk-!-margin-bottom-2">Riding a bicycle on a footpath ({{ data['offenceCode'] | upper or HY35014 }})</p>
        <p class="govuk-body-s govuk-!-margin-bottom-2">Sentence: {{data['sentenceDate-day'] + ' ' + data['sentenceDate-month'] | monthName + ' ' + data['sentenceDate-year'] if data['sentenceDate-day'] and data['sentenceDate-month'] and data['sentenceDate-year'] else "12 January 2024"}}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-1"><a class="govuk-link--no-visited-state" href="./add-offence.html">Change</a></p>
      </div>
    </div> -->
  </div>
        
{% endblock %}
