{% extends "layouts/main.html" %}

{% set pageName = "Check imposition" %}

{% block beforeContent %}

<a href="add-creditor.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l" >{{data['offenceCode'] | upper or 'HY35014'}}</span>
      <h1 class="govuk-heading-l ">{{pageName}}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- <span class="govuk-caption-l">{{data['offenceCode'] | upper}}</span> -->
      

      <!-- <span class="govuk-caption-l">Offence</span> -->
      <!-- <p class="govuk-body">Impostion for "Riding a bicycle on a footpath ({{data['offenceCode'] | upper}})"</p> -->
      <!-- <p class="govuk-body">Date of sentence: {{data['sentenceDate-day'] + ' ' + data['sentenceDate-month'] | monthName + ' ' + data['sentenceDate-year'] if data['sentenceDate-day'] and data['sentenceDate-month'] and data['sentenceDate-year'] else "12 March 2024"}}</p> -->

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Result code"
          },
          value: {
            html: data['resultCode'] or 'Fine only (FO)'
          },
          actions: {
            items: [
              {
                href: "add-imposition",
                text: "Change",
                visuallyHiddenText: "result code"
              }
            ]
          }
        },
        {
          key: {
            text: "Imposition"
          },
          value: {
            html: data['imposition'] | currency if data['imposition'] else '£250.00'
          },
          actions: {
            items: [
              {
                href: "add-imposition",
                text: "Change",
                visuallyHiddenText: "imposition"
              }
            ]
          }
        },
        {
          key: {
            text: "Paid so far"
          },
          value: {
            html: data['paidSoFar'] | currency if data['paidSoFar'] else '£0.00'
          },
          actions: {
            items: [
              {
                href: "add-imposition",
                text: "Change",
                visuallyHiddenText: "paid so far"
              }
            ]
          }
        },
        {
          key: {
            text: "Creditor"
          },
          value: {
            html: data['creditor']
          },
          actions: {
            items: [
              {
                href: "add-creditor",
                text: "Change",
                visuallyHiddenText: "creditor"
              }
            ]
          }
        },
        {
          key: {
            text: "Major creditor"
          },
          value: {
            html: data['majorCreditorName'] if (data['creditor'] == "Major creditor") else data['creditor']
          },
          actions: {
            items: [
              {
                href: "add-creditor",
                text: "Change",
                visuallyHiddenText: "creditor"
              }
            ]
          }
        } if (data['creditor'] == "Major creditor")
        ]
      }) }}


      <!-- {{ govukButton({
        text: "Add another imposition",
        classes: "govuk-button--secondary",
        href: "#"
      }) }} -->
      

      


      <form method="post" novalidate action="check-offences">


        {{ govukRadios({
          name: "addImposition2",
          fieldset: {
            legend: {
              text: "Add another imposition?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: data['addImposition2'],
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No – review offence"
            }
          ]
        }) }}

        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
