{% extends "layouts/main.html" %}

{% set pageName = "Confirm account" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./search-account.html"
}) }}

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">{{data['businessUnit']}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if (data['warning'] == "true") %}
        {{ mojAlert({
          variant: "warning",
          title: "Some information could not be imported",
          showTitleAsHeading: false,
          dismissible: false,
          html: 'Account has been written off'
        }) }}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Account number" },
            value: { text: "06000427N" }
          },
          {
            key: { text: "Name" },
            value: { text: "Mr Terrence CONWAY-JOHNSON" }
          },
          {
            key: { text: "Aliases" },
            value: { text: "–" }
          },
          {
            key: { text: "Date of birth" },
            value: { text: "01 January 2000" }
          },
          {
            key: { text: "Address" },
            value: {
              html: "24 High Street<br>Twyford<br>Berkshire<br>RG10 9RT"
            }
          },
          {
            key: { text: "Balance" },
            value: { text: "£0.00" }
          },
          {
            key: { text: "Enforcement action" },
            value: { text: "Return executed warrant (REW)" }
          },
          {
            key: { text: "Payment terms" },
            value: { text: "Lump sum plus instalment" }
          },
          {
            key: { text: "Frequency" },
            value: { text: "Monthly" }
          },
          {
            key: { text: "Instalments" },
            value: { text: "£25" }
          },
          {
            key: { text: "Start date" },
            value: { text: "05 July 2025" }
          },
          {
            key: { text: "Comments" },
            value: { text: "–" }
          }
        ]
      }) }}

      <p class="govuk-body govuk-!-margin-bottom-7">
        To see history and notes, you can <a href="#" class="govuk-link" >view the account in a new tab</a>.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm",
          href: "./payment-details.html"
        }) }}

          <p class="govuk-body"><a href="search-account.html" class="govuk-link govuk-link--no-visited-state">Search again</a></p>
      </div>

      <p class="govuk-body"><a href="../till-details.html" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>


      
      
    </div>
  </div>

{% endblock %}
