{% extends "layouts/main.html" %}

{% set pageName = "Court fee details" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./payment-category.html"
}) }}

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <form class="govuk-form-group" action="court-fee-form" method="post">

        {{ xGovukAutocomplete({
          id: "courtFeeCode",
          name: "courtFeeCode",
          classes: "",
          formGroup:{
            classes: "govuk-input--width-40"
          },
          value: data['courtFeeCode'],
          allowEmpty: false,
          showAllValues: true,
          label: {
            classes: "govuk-label--s",
            text: "Court fee code"
          },
          items: [
            { text: "C01.1 – A JP PERFORMING A FUNCTION AWAY FROM COURT (£29.00)", value: "C01.1" },
            { text: "C02.1 – APP TO STATE CASE FOR OPINION OF H/C (£156.00)", value: "C02.1" },
            { text: "C02.2 – CSA91 APPEAL AGAINST DEDUCTION FROM EARNINGS (£22.00)", value: "C02.2" },
            { text: "C02.3 – APPEAL SCH 5 TO LICENSING ACT 2003 (£70.00)", value: "C02.3" },
            { text: "C02.4 – AN APPEAL WHERE NO OTHER FEE SPECIFIED (£70.00)", value: "C02.4" },
            { text: "C03.1 – REQUEST FOR CERT OF REFUSAL TO STATE CASE (£0.00)", value: "C03.1" },
            { text: "C03.2 – REQUEST FOR CERTIFICATE OF SATISFACTION (£19.00)", value: "C03.2" },
            { text: "C03.3 – REQUEST FOR CERTIFIED COPY OF MEMO OF CONVICTION (£15.00)", value: "C03.3" },
            { text: "C03.4 – REQUEST FOR CERTIFICATE OR DOC NO OTHER FEE (£23.00)", value: "C03.4" },
            { text: "C04.1 – CT APPN FOR LIABILITY ORDER (£0.50)", value: "C04.1" },
            { text: "C04.2 – CSA 91 Application For Liability Order (£14.00)", value: "C04.2" },
            { text: "C05.1A – COPY OF DOCUMENT FIRST 10 PAGES (£11.00)", value: "C05.1A" },
            { text: "C05.1B – COPY OF DOCUMENT EACH SUBSEQUENT PAGE (£0.50)", value: "C05.1B" },
            { text: "C05.2 – COPY OF DOCUMENT ON DISK (£11.00)", value: "C05.2" },
            { text: "C06.1 – LICENCE, CONSENT OR AUTHORITY NO FEE (£0.00)", value: "C06.1" },
            { text: "C06.2 – APPLICATION FOR RENEWAL OR VARIATION LICENCE (£31.00)", value: "C06.2" },
            { text: "C06.3 – APPLICATION FOR REVOCATION OF LICENCE (£31.00)", value: "C06.3" }
          ]
        }) }}

        <!-- {{ xGovukAutocomplete({
          id: "courtFeeCode",
          name: "courtFeeCode",
          classes: "",
          formGroup:{
            classes: "govuk-input--width-40"
          },
          value: data['courtFeeCode'],
          allowEmpty: false,
          showAllValues: true,
          label: {
            classes: "govuk-label--s",
            text: "Court fee"
          },
          items: [
            { text: "£29.00 – A JP performing a function away from court (C01.1)", value: "C01.1" },
            { text: "£156.00 – App to state case for opinion of H/C (C02.1)", value: "C02.1" },
            { text: "£22.00 – CSA91 appeal against deduction from earnings (C02.2)", value: "C02.2" },
            { text: "£70.00 – Appeal Sch 5 to Licensing Act 2003 (C02.3)", value: "C02.3" },
            { text: "£70.00 – An appeal where no other fee specified (C02.4)", value: "C02.4" },
            { text: "£0.00 – Request for cert of refusal to state case (C03.1)", value: "C03.1" },
            { text: "£19.00 – Request for certificate of satisfaction (C03.2)", value: "C03.2" },
            { text: "£15.00 – Request for certified copy of memo of conviction (C03.3)", value: "C03.3" },
            { text: "£23.00 – Request for certificate or doc no other fee (C03.4)", value: "C03.4" },
            { text: "£0.50 – CT appn for liability order (C04.1)", value: "C04.1" },
            { text: "£14.00 – CSA 91 application for liability order (C04.2)", value: "C04.2" },
            { text: "£11.00 – Copy of document first 10 pages (C05.1A)", value: "C05.1A" },
            { text: "£0.50 – Copy of document each subsequent page (C05.1B)", value: "C05.1B" },
            { text: "£11.00 – Copy of document on disk (C05.2)", value: "C05.2" },
            { text: "£0.00 – Licence, consent or authority no fee (C06.1)", value: "C06.1" },
            { text: "£31.00 – Application for renewal or variation licence (C06.2)", value: "C06.2" },
            { text: "£31.00 – Application for revocation of licence (C06.3)", value: "C06.3" }
          ]
        }) }} -->



        <div id="Offence1_Title_Container" class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div style="padding: 18px 15px 15px 15px; border-left: 5px solid #1D70B8; background-color: #f3f2f1;">
            <p id="Offence1_Title_Heading" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0" >CT – Appn Liability Order (Each defendant)</p>
            <p id="Offence1_Title_Title" class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Fee: £1.00</p>
          </div>
        </div>

        <!-- <h2 class="govuk-heading-m">Payment details</h2> -->

        {{ govukInput({
          id: "payment1CourtFeeAmount",
          name: "payment1CourtFeeAmount",
          formGroup: {
            classes: "govuk-!-margin-bottom-"
          },
          label: {
            text: "Amount",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          prefix: {
            text: "£"
          },
          attributes: {
            'data-fee-per-item': '1.00'
          },
          value: data.payment1CourtFeeAmount
        }) }}

        <!-- <p class="govuk-body govuk-!-margin-bottom-6" id="suggestion-wrapper">
          Suggestion: <strong><span id="suggested-value">20</span><span> items</span></strong>
          <a href="#" id="apply-suggestion" class="govuk-link govuk-link--no-visited-state">Apply</a>
        </p> -->

        {{ govukInput({
          id: "payment1NumberItems",
          name: "payment1NumberItems",
          formGroup: {
            classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-6"
          },
          label: {
            text: "Number of items",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-5",
          value: data.payment1NumberItems
        }) }}



        <!-- <p class="govuk-body govuk-!-margin-bottom-6">Suggested number of items: 20 <a href="#" class="govuk-link govuk-link--no-visited-state">Apply</a></p> -->

        <!-- DYBAMIC ALERT -->

        <!-- <div id="paymentConfirmation" class="govuk-!-margin-bottom-8 govuk-!-margin-top-6">
          <div style="padding: 18px 15px 15px 15px; border-left: 5px solid #F47738; background-color: #f3f2f1;">
            <p id="Offence1_Title_Heading" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0" >This amount doesn’t match the selected court fee</p>
            <p id="Offence1_Title_Title" class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Fee code C04.1 charges £1.00 per item. <br>A payment of £30 would cover 30 items — not the 10 you entered.</p>
          </div>
        </div> -->


        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

          <p class="govuk-body"><a href="../till-details.html" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

      </div>

      </form>

      


      
      
    </div>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
        const courtFeeInput = document.getElementById('payment1CourtFee');
        const panel = document.getElementById('Offence1_Title_Container');

        function showPanelIfSelected() {
          if (courtFeeInput.value.trim() !== '') {
            panel.style.display = 'block';
          } else {
            panel.style.display = 'none';
          }
        }

        // Hide panel on load
        panel.style.display = 'none';

        // Show when the user selects or types
        courtFeeInput.addEventListener('blur', showPanelIfSelected);
      });
    </script>



{% endblock %}




