{% extends "layouts/main.html" %}

{% set pageName = "Quarter and year end report" %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "./quarter-year-end-report.html"
  }) }} -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="./quarter-year-end-report">
        
        <h1 class="govuk-heading-l"><span class="govuk-caption-l">Create report</span>{{ pageName }}</h1>

        {{ govukSelect({
          id: "createReportBusinessUnit",
          name: "createReportBusinessUnit",
          label: {
            text: "Select a business unit",
            classes: "govuk-label--m"
          },
          items: [
            { value: "", text: "Select business unit", selected: true },
            { value: "Avon and Somerset", text: "Avon and Somerset" },
            { value: "Devon and Cornwall", text: "Devon and Cornwall" },
            { value: "Dorset", text: "Dorset" },
            { value: "Gloucestershire", text: "Gloucestershire" },
            { value: "London North West", text: "London North West" }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "createReportReportType",
          name: "createReportReportType",
          fieldset: {
            legend: {
              text: "Report type",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Quarter end",
              text: "Quarter end"
            },
            {
              value: "Year end",
              text: "Year end"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
          text: "Create report"
        }) }}
        
        <p><a href="./quarter-year-end-report.html" class="govuk-link">Cancel</a></p>
        </div>

        

      </form>

    </div>
  </div>
{% endblock %}
