{% extends "layouts/main.html" %}

{% set pageName = "Master BACS file report" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./task-list.html?returning=true"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">Daily checks</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>



               


            

    </div>
  </div>

   <style>

    .govuk-table__header.empty button {
        display: none;
        text-align: right;
    }

    .govuk-table__cell.download {
        text-align: right;
    }

  </style>

{% endblock %}


