{% extends "layouts/main.html" %}

{% set pageName = "Check printer" %}

{% block beforeContent %}

<!-- {{ govukBackLink({
  text: "Back",
  href: "./print-cheques.html"
}) }} -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <!-- <p class="govuk-body">13 cheques have been sent to the printer.</p> -->

      {{ govukSummaryList({
        rows: [
          {
              key: {
                  text: "Number of cheques"
              },
              value: {
                  text: "13"
              }
          },
          {
              key: {
                  text: "Printer"
              },
              value: {
                  text: data['printer']
              }
          }
        ]
      }) }}

      <form class="govuk-form-group" action="task-list" method="post">

          {{ govukRadios({
            name: "reprintOption",
            id: "reprintOption",
            fieldset: {
              legend: {
                text: "Do you need to re-print?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            value: data['reprintOption'],
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No – return to daily checks"
              }
            ]
          }) }}
        



        <div class="govuk-button-group">
          <button type="submit" class="govuk-button">
            Continue
          </button>

          <!-- <p class="govuk-body"><a href="./task-list.html" class="govuk-link govuk-link--no-visited-state">Cancel</a></p> -->
        </div>
        
      </form>
           

    </div>
  </div>

{% endblock %}
