{% extends "layouts/main.html" %}

{% set pageName = "Daily checks" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "./select-business-unit.html"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{pageName}}</h1>

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Business unit"
                        },
                        value: {
                            text: data['businessUnit']
                        },
                        actions: {
                            items: [
                                {
                                    href: "./select-business-unit.html",
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    visuallyHiddenText: "business unit"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Checks to do</h2>

            <ul class="govuk-task-list">

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./print-cheques.html" aria-describedby="print-cheques-status">
                        Print cheques
                    </a>
                    <!-- </div>
                    {% if data['chequesPrinted'] == "true" %}
                    <div class="govuk-task-list__status" id="print-cheques-status">
                        0 cheques to print
                    </div>
                    {% else %}
                    <div class="govuk-task-list__status" id="print-cheques-status">
                        14 cheques to print
                    </div>
                    {% endif %} -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['unpresentedChequesCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./unpresented-cheques.html?unpresentedChequesReturn=true" aria-describedby="unpresented-cheques-status">Unpresented cheques report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./unpresented-cheques.html" aria-describedby="unpresented-cheques-status">Unpresented cheques report</a>
                    {% endif %}
                    
                </div>
                <!-- <div class="govuk-task-list__status" id="unpresented-cheques-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['bacsFileCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./bacs-file.html?bacsFileReportReturning=true" aria-describedby="bacs-file-status">BACS file report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./bacs-file.html" aria-describedby="bacs-file-status">BACS file report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="bacs-file-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['bankReportCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./bank-list.html?bankReportReturning=true" aria-describedby="bank-list-status">Bank report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./bank-list.html" aria-describedby="bank-list-status">Bank report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="bank-list-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <!-- {{ govukInsetText({
                    text: "Ensure all tills are allocated before creating control totals report"
                }) }} -->

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['controlTotalsCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./control-totals.html?controlTotalsReturning=true" aria-describedby="control-totals-status">Control totals report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./control-totals.html" aria-describedby="control-totals-status">Control totals report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="control-totals-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['dishonouredChequeCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./dishonoured-cheques.html?dishonouredChequesReturning=true" aria-describedby="dishonoured-cheques-status">Dishonoured cheques report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./dishonoured-cheques.html" aria-describedby="dishonoured-cheques-status">Dishonoured cheques report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="dishonoured-cheques-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['witnessCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./witnesses.html?witnessReturning=true" aria-describedby="witnesses-status">Witness expenses report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./witnesses.html" aria-describedby="witnesses-status">Witness expenses report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="witnesses-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint" data-module="edge">
                    {% if data['suspenseCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./suspense.html?suspenseReturning=true" aria-describedby="suspense-report-status">Suspense report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./suspense.html" aria-describedby="suspense-report-status">Suspense report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="bacs-file-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['reversedPaymentCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./outstanding-payment.html?reversedPaymentReturning=true" aria-describedby="outstanding-payment-status">Reversed payments report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./outstanding-payment.html" aria-describedby="outstanding-payment-status">Reversed payments report</a>
                    {% endif %}
                </div>
                <!-- <div class="govuk-task-list__status" id="outstanding-payment-status">
                    {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                </div> -->
                </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./process-presented-cheques.html" aria-describedby="automated-presented-status">
                    Automated presented cheques
                    </a>
                </div>
                <!-- {% if data['chequesProcessed'] == "true" %}
                    <div class="govuk-task-list__status" id="print-cheques-status">
                        0 files to process
                    </div>
                    {% else %}
                    <div class="govuk-task-list__status" id="automated-presented-status">
                        1 file to process
                    </div>
                {% endif %} -->
                
                </li>


                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    {% if data['presentedChequesCreated'] == "true" %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./presented-cheques.html?presentedChequesReturning=true" aria-describedby="presented-cheques-status">Presented cheques report</a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="./presented-cheques.html" aria-describedby="presented-cheques-status">Presented cheques report</a>
                    {% endif %}
                    </div>
                    <!-- <div class="govuk-task-list__status govuk-hint" id="presented-cheques-status">
                        {{ govukTag({
                            text: "Not started",
                            classes: "govuk-tag--grey"
                        }) }}
                    </div> -->
                </li>

                
                
            </ul>
            

            <p class="govuk-body"><a href="../finance.html" class="govuk-link govuk-link--no-visited-state">Return to finance</a></p>



            

    </div>
  </div>

{% endblock %}


