{% extends "layouts/main.html" %}

{% set pageName = "Opal research prototype" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}


{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Confirm account</h1>
      
      <span class="govuk-caption-m">06000427N</span>
      <h2 class="govuk-heading-m">Mr Terrence CONWAY-JOHNSON</h2>

      

      <!-- {{ govukSummaryList({
        card: {
          title: {
            text: "Key details"
          }
        },
        rows: [
          {
            key: { text: "Aliases" },
            value: {
              html: "Frederick SMITH<br>Fred SMITH"
            }
          },
          {
            key: { text: "Date of birth" },
            value: { text: "01 January 2000" }
          },
          {
            key: { text: "Address" },
            value: {
              html: "24 High Street<br>Twyford<br>Berkshire<br>RG10 9RT"
            }
          },
          {
            key: { text: "Enforcement action" },
            value: {
              html: "Return executed warrant (REW)"
            }
          },
          {
            key: { text: "Collection order" },
            value: {
              html: "No"
            }
          }
        ]
      }) }} -->

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Aliases</dt>
          <dd class="govuk-summary-list__value">
            –
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">01 January 2000</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            24 High Street<br>
            Twyford<br>
            Berkshire<br>
            RG10 9RT
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Balance</dt>
          <dd class="govuk-summary-list__value">£125.00</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Enforcement action</dt>
          <dd class="govuk-summary-list__value">Return executed warrant (REW)</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Collection order</dt>
          <dd class="govuk-summary-list__value">No</dd>
        </div>
      </dl>

      <p class="govuk-body govuk-!-margin-bottom-6">
        To see more information, you can <a href="#" class="govuk-link" target="_blank">view the account in a new tab</a>.
      </p>

      <form action="/confirm-account" method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
      </form>
      
    </div>
  </div>

{% endblock %}
