{% extends "layouts/main.html" %}

{% set pageName = "Opal research prototype" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      

      <!-- <p class="govuk-body" data-module="edge"><a href="./create-account/create-account.html" class="govuk-link--no-visited-state" data-message="This part of the prototype has not been built.">Create fine account</a></p> -->
      <!-- <p class="govuk-body"><a href="./create-account/index.html" class="govuk-link--no-visited-state">Check and input accounts</a></p>
      <p class="govuk-body"><a href="./search/search.html" class="govuk-link--no-visited-state">Search for an account</a></p> -->

      <!-- <p class="govuk-body">
        Thank you for taking part in research for the new Opal service.
      </p>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">
        This tool has been built to help you give us feedback about the new service.
      </p>
      <p class="govuk-body">
        It is not a live product and will not have the same level of functionality as the new service when it goes live.
      </p>
      <p class="govuk-body">
        Parts of the prototype will not work like the real service. For example:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          there are no error messages
        </li>
        <li>
          you can only add 3 offences and 3 impositions
        </li>
        <li>
          you cannot select a date using a date picker
        </li>
        <li>
          you cannot delete an account, offence or imposition
        </li>
        <li>
          dummy data is used in certain sections
        </li>
      </ul>

      <h2 class="govuk-heading-m">Start the prototype</h2> -->
      
      <!-- <p class="govuk-body">
        This tool has been built to help you give us feedback about the new service.
      </p> -->

      {{ govukButton({
        text: "Start",
        href: "./create-account/create-account.html",
        isStartButton: true
      }) }}

      <p class="govuk-body">
       <a class="govuk-link--no-visited-state" href="./create-account/fixed-penalty-uploads/to-review.html">
        Fixed Penalty uploads
       </a>
      </p> 

      

      
      

    </div>
  </div>

{% endblock %}
