{% extends "layouts/main.html" %}

{% set pageName = "Check court details" %}

{% block beforeContent %}

{% if data['return'] == 'check-answers'%}
  <a href="../task-list.html" class="govuk-back-link">Back</a>
{% else %}
  <a href="enforcement-court.html" class="govuk-back-link">Back</a>
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Court details"
          }
        },
        rows: [
          {
            key: {
              text: "Local Justice Area (LJA)"
            },
            value: {
              html: data['ljaCode'] or "Bedfordshire Magistrates' Court (1080)"
            },
            actions: {
              items: [
                {
                  href: "sending-court?change-sending-court=true",
                  text: "Change",
                  visuallyHiddenText: "Local Justice Area"
                }
              ]
            }
          },
          {
            key: {
              text: "Case or court reference"
            },
            value: {
              html: data['ljaReferenceCode'] or "Not provided"
            }, 
            actions: {
              items: [
                {
                  href: "sending-court?change-sending-court=true",
                  text: "Change",
                  visuallyHiddenText: "Case or court reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Enforcement court"
            },
            value: {
              html: data['enforcementCourt'] or "Avon & Somerset NCES (12)"
            },
            actions: {
              items: [
                {
                  href: "enforcement-court",
                  text: "Change",
                  visuallyHiddenText: "enforcement court"
                }
              ]
            }
          }
        ]
      }) }}


      <form method="post" novalidate action="../task-list?return=check-answers">

        {{ govukCheckboxes({
          name: "cdCompleted",
          values: data['cdCompleted'],
          items: [
            {
              value: "true",
              text: "I have completed this section"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Finish"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
