{% extends "layouts/main.html" %}

{% set pageName = "Add an offence" %}

{% block pageTitle %}
{{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<form id="Offence3_Form" method="post" novalidate action="../check-offences?Offence3-Added=True">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <h2 class="govuk-heading-m">Offence details</h2>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="date">Date of sentence</label>
      <div id="date-hint" class="govuk-hint">
        For example, 31/01/2023
      </div>
      <div class="govuk-input__wrapper">
        <input class="govuk-input moj-js-datepicker-input govuk-input--width-10" id="Offence3_Date_Of_Sentence" name="Offence3_Date_Of_Sentence" type="text" autocomplete="off" value="{{data['Offence3_Date_Of_Sentence']}}">
        <button class="moj-datepicker-toggle moj-js-datepicker-toggle" type="button" aria-haspopup="dialog" aria-controls="datepicker-date" aria-expanded="false">
          <span class="govuk-visually-hidden">Choose date</span>
          <svg width="32" height="24" focusable="false" class="moj-datepicker-icon" aria-hidden="true" role="img" viewBox="0 0 22 22">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16.1333 2.93333H5.86668V4.4C5.86668 5.21002 5.21003 5.86667 4.40002 5.86667C3.59 5.86667 2.93335 5.21002 2.93335 4.4V2.93333H2C0.895431 2.93333 0 3.82877 0 4.93334V19.2667C0 20.3712 0.89543 21.2667 2 21.2667H20C21.1046 21.2667 22 20.3712 22 19.2667V4.93333C22 3.82876 21.1046 2.93333 20 2.93333H19.0667V4.4C19.0667 5.21002 18.41 5.86667 17.6 5.86667C16.79 5.86667 16.1333 5.21002 16.1333 4.4V2.93333ZM20.5333 8.06667H1.46665V18.8C1.46665 19.3523 1.91436 19.8 2.46665 19.8H19.5333C20.0856 19.8 20.5333 19.3523 20.5333 18.8V8.06667Z"></path>
            <rect x="3.66669" width="1.46667" height="5.13333" rx="0.733333" fill="currentColor"></rect>
            <rect x="16.8667" width="1.46667" height="5.13333" rx="0.733333" fill="currentColor"></rect>
          </svg>
        </button>
      </div>
    </div>

    <!-- Offence code input -->
    {{ govukInput({
      formGroup: {
        classes: "govuk-!-margin-bottom-2"
      },
      id: "Offence3_Code",
      name: "Offence3_Code",
      classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
      label: {
        text: "Offence code",
        classes: "govuk-label--s"
      },
      hint: {
        html: 'For example, TP11003. If you don’t know the offence code, you can <a href="#" class="govuk-link--no-visited-state" data-module="edge">search the offence list</a>.'
      },
      value: data['Offence3_Code']
    }) }}

    <!-- Results -->
    <div id="Offence3_Title_Container" style="display: none;" class="govuk-!-margin-bottom-3 govuk-!-margin-top-5">
      <div style="padding: 18px 15px 15px 15px; border-left: 5px solid #1d70b8; background-color: #f3f2f1;">
        <p id="Offence3_Title_Heading" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0" >Offence found</p>
        <p id="Offence3_Title_Title" class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1"></p>
      </div>
    </div>
    
    
  </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">   

<h2 class="govuk-heading-m">Impositions</h2>

<!-- IMPOSITION 1 -->
<div class="impositionWrapper govuk-!-margin-bottom-6" id="Offence3_Imposition1_Container">
  
  <!-- IMPOSITION DETAILS -->
  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 imposition">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group govuk-!-margin-bottom-4">
          <label class="govuk-label govuk-label--s" for="Offence3_Imposition1_Result_Code">
            Result code
          </label>
        <select class="govuk-select" id="Offence3_Imposition1_Result_Code" name="Offence3_Imposition1_Result_Code" style="width: 100%;">
          <option value="" selected disabled>Select result code</option>
          <option value="Compensation (FCOMP)">Compensation (FCOMP)</option>
          <option value="Victim surcharge (FVS)">Victim surcharge (FVS)</option>
          <option value="Costs (FCOST)">Costs (FCOST)</option>
          <option value="Crown prosecution costs (FCPC)">Crown prosecution costs (FCPC)</option>
          <option value="Fine only (FO)">Fine only (FO)</option>
          <option value="Criminal courts charge (FCC)">Criminal courts charge (FCC)</option>
          <option value="Vehicle excise duty (FVEBD)">Vehicle excise duty (FVEBD)</option>
          <option value="Forfeited recognizance (FFR)">Forfeited recognizance (FFR)</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: 'Offence3_Imposition1_Imposed',
        name: 'Offence3_Imposition1_Imposed',
        value: data['Offence3_Imposition1_Imposed'],
        formGroup: {
          classes: "govuk-!-margin-bottom-4"
        },
        label: {
          html: 'Amount imposed',
          classes: 'govuk-!-font-weight-bold'
        },
        prefix: {
          text: "£"
        }
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: 'Offence3_Imposition1_Paid',
        name: 'Offence3_Imposition1_Paid',
        value: data['Offence3_Imposition1_Paid'],
        formGroup: {
          classes: "govuk-!-margin-bottom-4"
        },
        label: {
          html: 'Amount paid',
          classes: 'govuk-!-font-weight-bold'
        },
        prefix: {
          text: "£"
        }
      }) }}
    </div>
  </div>

  <!-- CREDITOR DETAILS -->
  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 creditors" id="Offence3_Imposition1_Creditor_Add" style="display: none;">
    <div class="govuk-grid-column-full">
      
      <!-- SHOW THE MINOR CREDITOR IF FCOST OR FCOMP -->
      <div id="Offence3_Imposition1_Creditor_Show_Minor_Creditor" style="display: none;">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <dl class="govuk-summary-list govuk-!-margin-bottom-0" >
              <div class="govuk-summary-list__row" style="border: none;">
                <dt class="govuk-summary-list__key">
                  Minor creditor
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['Offence3_Imposition1_Minor_Creditor_Type'] == "Individual" %}
                    {{data['Offence3_Imposition1_Minor_Creditor_First_Name']}} {{data['Offence3_Imposition1_Minor_Creditor_Last_Name']}}
                  {% elseif data['Offence3_Imposition1_Minor_Creditor_Type'] == "Company" %}
                    {{data['Offence3_Imposition1_Minor_Creditor_Company_Name']}}
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions" style="width: 40%;">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item" data-module="edge">
                      <a class="govuk-link govuk-link--no-visited-state" href="#" data-message="This has not been prototyped. It would show a summary of the details you entered for this minor creditor"><strong>Show details</strong><span class="govuk-visually-hidden"></span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state" href="./add-offence-3-minor-creditor-1.html"><strong>Change</strong><span class="govuk-visually-hidden"> minor creditor</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state" id="Offence3_Imposition1_Creditor_Remove" href="#"><strong>Remove</strong><span class="govuk-visually-hidden"> minor creditor</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      
      <!-- SHOW THE FORM IS NOTHING MINOR CREDITOR NOT ADDED -->
      <div id="Offence3_Imposition1_Creditor_Show_Form">
        {% set Offence3_Imposition1_Major_Creditor_HTML %}

        {{ xGovukAutocomplete({
          formGroup: {
            classes: "govuk-input--width-30"
          },
          id: "Offence3_Imposition1_Major_Creditor_Name",
          name: "Offence3_Imposition1_Major_Creditor_Name",
          value: data['Offence3_Imposition1_Major_Creditor_Name'],
          allowEmpty: false,
          displayMenu: "overlay",
          label: {
            classes: "govuk-label--s",
            text: "Search using name or code"
          },  
          items: [
          { text: "Abellio Greater Anglia Ltd (AGAL)" },
          { text: "Aldi (ALDI)" },
          { text: "Anglia Trains (ANGL)" },
          { text: "Asda (ASDA)" },
          { text: "Bedford Borough Council (BEDB)" },
          { text: "B & Q Stores (BNQL)" },
          { text: "Boots (BOOT)" },
          { text: "British Transport Police (BTPO)" },
          { text: "Cambridge City Council (CAMC)" },
          { text: "Charles & Ashby Revenue Ltd (CARV)" },
          { text: "Cambs County Council Education (CBC1)" },
          { text: "Cambridgeshire County Council. (CBCC)" },
          { text: "Central Trains (CENT)" },
          { text: "City of London Police (COLP)" },
          { text: "Co-Operative Group (COP2)" },
          { text: "Crown Prosecution Service (CPS)" },
          { text: "DVLA (DVL2)" },
          { text: "DVSA (DVSA)" },
          { text: "DWP DM (DWP1)" },
          { text: "East Cambs. District Council (ECDC)" },
          { text: "Abellio East Midlands Ltd (EMT1)" },
          { text: "Fenland District Council (FDC)" },
          { text: "Govia Thameslink Railway Ltd (GTLR)" },
          { text: "HMCTS (HMCS)" },
          { text: "HM Revenue and Customs (HMRC)" },
          { text: "Huntingdon District Council (HUDC)" },
          { text: "Iceland Stores (ICE1)" },
          { text: "Insolvency Service (INSS)" },
          { text: "John Lewis Stores (JLEW)" },
          { text: "PCC for Devon & Cornwall (PO50)" },
          { text: "Lidl Stores (LIDL)" },
          { text: "London North Eastern Railway (LNER)" },
          { text: "Merseyrail Electrics 2002 Ltd (METV)" },
          { text: "Morrisons (MORR)" },
          { text: "Marks and Spencer (MSP)" },
          { text: "Next (NEXT)" },
          { text: "NOMS (NOMS)" },
          { text: "Environment Agency (NRA1)" },
          { text: "Peterborough City Council (PCTC)" },
          { text: "Poundland (PLD)" },
          { text: "Metropolitan Police (PO01)" },
          { text: "PCC for Merseyside (PO05)" },
          { text: "PCC for North Yorkshire (PO12)" },
          { text: "PCC for West Midlands (PO20)" },
          { text: "PCC for Staffordshire (PO21)" },
          { text: "PCC for Derbyshire (PO30)" },
          { text: "PCC for Lincolnshire (PO32)" },
          { text: "PCC for Leicestershire (PO33)" },
          { text: "PCC for Northamptonshire (PO34)" },
          { text: "PCC for Cambridgeshire (PO35)" },
          { text: "PCC for Norfolk (PO36)" },
          { text: "PCC for Suffolk (PO37)" },
          { text: "PCC for Bedfordshire (PO40)" },
          { text: "PCC for Hertfordshire (PO41)" },
          { text: "PCC for Essex (PO42)" },
          { text: "PCC for Thames Valley (PO43)" },
          { text: "PCC for Hampshire (PO44)" },
          { text: "PCC for Surrey (PO45)" },
          { text: "PCC for Kent (PO46)" },
          { text: "Sussex Police (PO47)" },
          { text: "PCC for Avon & Somerset (PO52)" },
          { text: "PCC for Wiltshire (PO54)" },
          { text: "PCC for North Wales (PO60)" },
          { text: "PCC for South Wales (PO62)" },
          { text: "PCC for Dyfed Powys (PO63)" },
          { text: "RSPCA (RSPC)" },
          { text: "Sainsbury's (SAIN)" },
          { text: "South Cambridge D C (SCDC)" },
          { text: "Superdrug (SDRG)" },
          { text: "Tesco (TESC)" },
          { text: "Transport for London (TFL2)" },
          { text: "TK Maxx (TKMX)" },
          { text: "Transport Investigations Ltd (TRAN)" },
          { text: "Capital Business Services Ltd (TVL3)" },
          { text: "National Express Trains LTD (WAGN)" },
          { text: "Wilkinson Stores (WILK)" },
          { text: "Waitrose (WTRO)" }
          ]
        }) }}

        {% endset -%}

        {% set Offence3_Imposition1_Minor_Creditor_HTML %}
          <p class="govuk-body"><a href="./add-offence-3-minor-creditor-1.html" id="Offence3_Add_Creditor_Link" class="govuk-link govuk-link--no-visited-state">Add minor creditor details</a></p>
        {% endset -%}

        {{ govukRadios({
          formGroup: {
            classes: "govuk-!-margin-bottom-4"
          },
          name: "Offence3_Imposition1_Creditor_Type",
          value: data['Offence3_Imposition1_Creditor_Type'],
          id: "Offence3_Imposition1_Creditor_Type",
          fieldset: {
            legend: {
              text: "Add creditor",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Offence3_Imposition1_Major_Creditor",
              text: "Major creditor",
              conditional: {
                html: Offence3_Imposition1_Major_Creditor_HTML 
              }
            },
            {
              value: "Offence3_Imposition1_Minor_Creditor",
              text: "Minor creditor",
              conditional: {
                html: Offence3_Imposition1_Minor_Creditor_HTML 
              }
            }
          ]
        }) }}
      </div>

    </div>
  </div>
</div>

<!-- IMPOSITION 2 -->
<div class="impositionWrapper govuk-!-margin-bottom-6" id="Offence3_Imposition2_Container" style="display: none;">
  
  <!-- IMPOSITION DETAILS -->
  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 imposition">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group govuk-!-margin-bottom-4">
          <label class="govuk-label govuk-label--s" for="Offence3_Imposition2_Result_Code">
            Result code
          </label>
        <select class="govuk-select" id="Offence3_Imposition2_Result_Code" name="Offence3_Imposition2_Result_Code" style="width: 100%;">
          <option value="" selected disabled>Select result code</option>
          <option value="Compensation (FCOMP)">Compensation (FCOMP)</option>
          <option value="Victim surcharge (FVS)">Victim surcharge (FVS)</option>
          <option value="Costs (FCOST)">Costs (FCOST)</option>
          <option value="Crown prosecution costs (FCPC)">Crown prosecution costs (FCPC)</option>
          <option value="Fine only (FO)">Fine only (FO)</option>
          <option value="Criminal courts charge (FCC)">Criminal courts charge (FCC)</option>
          <option value="Vehicle excise duty (FVEBD)">Vehicle excise duty (FVEBD)</option>
          <option value="Forfeited recognizance (FFR)">Forfeited recognizance (FFR)</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: 'Offence3_Imposition2_Imposed',
        name: 'Offence3_Imposition2_Imposed',
        value: data['Offence3_Imposition2_Imposed'],
        formGroup: {
          classes: "govuk-!-margin-bottom-4"
        },
        label: {
          html: 'Amount imposed',
          classes: 'govuk-!-font-weight-bold'
        },
        prefix: {
          text: "£"
        }
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: 'Offence3_Imposition2_Paid',
        name: 'Offence3_Imposition2_Paid',
        value: data['Offence3_Imposition2_Paid'],
        formGroup: {
          classes: "govuk-!-margin-bottom-4"
        },
        label: {
          html: 'Amount paid',
          classes: 'govuk-!-font-weight-bold'
        },
        prefix: {
          text: "£"
        }
      }) }}
    </div>
  </div>

  <!-- CREDITOR DETAILS -->
  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 creditors" id="Offence3_Imposition2_Creditor_Add" style="display: none;">
    <div class="govuk-grid-column-full">
      
      <!-- SHOW THE MINOR CREDITOR IF FCOST OR FCOMP -->
      <div id="Offence3_Imposition2_Creditor_Show_Minor_Creditor" style="display: none;">
        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card__title-wrapper">
            <dl class="govuk-summary-list govuk-!-margin-bottom-0" >
              <div class="govuk-summary-list__row" style="border: none;">
                <dt class="govuk-summary-list__key">
                  Minor creditor
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['Offence3_Imposition2_Minor_Creditor_Type'] == "Individual" %}
                    {{data['Offence3_Imposition2_Minor_Creditor_First_Name']}} {{data['Offence3_Imposition2_Minor_Creditor_Last_Name']}}
                  {% elseif data['Offence3_Imposition2_Minor_Creditor_Type'] == "Company" %}
                    {{data['Offence3_Imposition2_Minor_Creditor_Company_Name']}}
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions" style="width: 40%;">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item" data-module="edge">
                      <a class="govuk-link govuk-link--no-visited-state" href="#" data-message="This has not been prototyped. It would show a summary of the details you entered for this minor creditor"><strong>Show details</strong><span class="govuk-visually-hidden"></span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state" href="./add-offence-3-minor-creditor-2.html"><strong>Change</strong><span class="govuk-visually-hidden"> minor creditor</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state" id="Offence3_Imposition2_Creditor_Remove" href="#"><strong>Remove</strong><span class="govuk-visually-hidden"> minor creditor</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      
      <!-- SHOW THE FORM IS NOTHING MINOR CREDITOR NOT ADDED -->
      <div id="Offence3_Imposition2_Creditor_Show_Form">
        {% set Offence3_Imposition2_Major_Creditor_HTML %}

        {{ xGovukAutocomplete({
          formGroup: {
            classes: "govuk-input--width-30"
          },
          id: "Offence3_Imposition2_Major_Creditor_Name",
          name: "Offence3_Imposition2_Major_Creditor_Name",
          value: data['Offence3_Imposition2_Major_Creditor_Name'],
          allowEmpty: false,
          displayMenu: "overlay",
          label: {
            classes: "govuk-label--s",
            text: "Search using name or code"
          },  
          items: [
          { text: "Abellio Greater Anglia Ltd (AGAL)" },
          { text: "Aldi (ALDI)" },
          { text: "Anglia Trains (ANGL)" },
          { text: "Asda (ASDA)" },
          { text: "Bedford Borough Council (BEDB)" },
          { text: "B & Q Stores (BNQL)" },
          { text: "Boots (BOOT)" },
          { text: "British Transport Police (BTPO)" },
          { text: "Cambridge City Council (CAMC)" },
          { text: "Charles & Ashby Revenue Ltd (CARV)" },
          { text: "Cambs County Council Education (CBC1)" },
          { text: "Cambridgeshire County Council. (CBCC)" },
          { text: "Central Trains (CENT)" },
          { text: "City of London Police (COLP)" },
          { text: "Co-Operative Group (COP2)" },
          { text: "Crown Prosecution Service (CPS)" },
          { text: "DVLA (DVL2)" },
          { text: "DVSA (DVSA)" },
          { text: "DWP DM (DWP1)" },
          { text: "East Cambs. District Council (ECDC)" },
          { text: "Abellio East Midlands Ltd (EMT1)" },
          { text: "Fenland District Council (FDC)" },
          { text: "Govia Thameslink Railway Ltd (GTLR)" },
          { text: "HMCTS (HMCS)" },
          { text: "HM Revenue and Customs (HMRC)" },
          { text: "Huntingdon District Council (HUDC)" },
          { text: "Iceland Stores (ICE1)" },
          { text: "Insolvency Service (INSS)" },
          { text: "John Lewis Stores (JLEW)" },
          { text: "PCC for Devon & Cornwall (PO50)" },
          { text: "Lidl Stores (LIDL)" },
          { text: "London North Eastern Railway (LNER)" },
          { text: "Merseyrail Electrics 2002 Ltd (METV)" },
          { text: "Morrisons (MORR)" },
          { text: "Marks and Spencer (MSP)" },
          { text: "Next (NEXT)" },
          { text: "NOMS (NOMS)" },
          { text: "Environment Agency (NRA1)" },
          { text: "Peterborough City Council (PCTC)" },
          { text: "Poundland (PLD)" },
          { text: "Metropolitan Police (PO01)" },
          { text: "PCC for Merseyside (PO05)" },
          { text: "PCC for North Yorkshire (PO12)" },
          { text: "PCC for West Midlands (PO20)" },
          { text: "PCC for Staffordshire (PO21)" },
          { text: "PCC for Derbyshire (PO30)" },
          { text: "PCC for Lincolnshire (PO32)" },
          { text: "PCC for Leicestershire (PO33)" },
          { text: "PCC for Northamptonshire (PO34)" },
          { text: "PCC for Cambridgeshire (PO35)" },
          { text: "PCC for Norfolk (PO36)" },
          { text: "PCC for Suffolk (PO37)" },
          { text: "PCC for Bedfordshire (PO40)" },
          { text: "PCC for Hertfordshire (PO41)" },
          { text: "PCC for Essex (PO42)" },
          { text: "PCC for Thames Valley (PO43)" },
          { text: "PCC for Hampshire (PO44)" },
          { text: "PCC for Surrey (PO45)" },
          { text: "PCC for Kent (PO46)" },
          { text: "Sussex Police (PO47)" },
          { text: "PCC for Avon & Somerset (PO52)" },
          { text: "PCC for Wiltshire (PO54)" },
          { text: "PCC for North Wales (PO60)" },
          { text: "PCC for South Wales (PO62)" },
          { text: "PCC for Dyfed Powys (PO63)" },
          { text: "RSPCA (RSPC)" },
          { text: "Sainsbury's (SAIN)" },
          { text: "South Cambridge D C (SCDC)" },
          { text: "Superdrug (SDRG)" },
          { text: "Tesco (TESC)" },
          { text: "Transport for London (TFL2)" },
          { text: "TK Maxx (TKMX)" },
          { text: "Transport Investigations Ltd (TRAN)" },
          { text: "Capital Business Services Ltd (TVL3)" },
          { text: "National Express Trains LTD (WAGN)" },
          { text: "Wilkinson Stores (WILK)" },
          { text: "Waitrose (WTRO)" }
          ]
        }) }}

        {% endset -%}

        {% set Offence3_Imposition2_Minor_Creditor_HTML %}
          <p class="govuk-body"><a href="./add-offence-3-minor-creditor-2.html" id="Offence3_Add_Creditor_Link" class="govuk-link govuk-link--no-visited-state">Add minor creditor details</a></p>
        {% endset -%}

        {{ govukRadios({
          formGroup: {
            classes: "govuk-!-margin-bottom-2"
          },
          name: "Offence3_Imposition2_Creditor_Type",
          value: data['Offence3_Imposition2_Creditor_Type'],
          id: "Offence3_Imposition2_Creditor_Type",
          fieldset: {
            legend: {
              text: "Add creditor",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Offence3_Imposition2_Major_Creditor",
              text: "Major creditor",
              conditional: {
                html: Offence3_Imposition2_Major_Creditor_HTML 
              }
            },
            {
              value: "Offence3_Imposition2_Minor_Creditor",
              text: "Minor creditor",
              conditional: {
                html: Offence3_Imposition2_Minor_Creditor_HTML
              }
            }
          ]
        }) }}
      </div>

    </div>
  </div>

  <!-- REMOVE LINK -->
  <div class="govuk-grid-row  govuk-!-margin-left-0 govuk-!-margin-right-0 creditors">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">Remove imposition</a></p>
    </div>
  </div>

</div>

<!-- IMPOSITION 3 -->
<div class="impositionWrapper govuk-!-margin-bottom-6" id="Offence3_Imposition3_Container" style="display: none;">
  
  <!-- IMPOSITION DETAILS -->
  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 imposition">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group govuk-!-margin-bottom-4">
          <label class="govuk-label govuk-label--s" for="Offence3_Imposition3_Result_Code">
            Result code
          </label>
        <select class="govuk-select" id="Offence3_Imposition3_Result_Code" name="Offence3_Imposition3_Result_Code" style="width: 100%;">
          <option value="" selected disabled>Select result code</option>
          <option value="Compensation (FCOMP)">Compensation (FCOMP)</option>
          <option value="Victim surcharge (FVS)">Victim surcharge (FVS)</option>
          <option value="Costs (FCOST)">Costs (FCOST)</option>
          <option value="Crown prosecution costs (FCPC)">Crown prosecution costs (FCPC)</option>
          <option value="Fine only (FO)">Fine only (FO)</option>
          <option value="Criminal courts charge (FCC)">Criminal courts charge (FCC)</option>
          <option value="Vehicle excise duty (FVEBD)">Vehicle excise duty (FVEBD)</option>
          <option value="Forfeited recognizance (FFR)">Forfeited recognizance (FFR)</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: 'Offence3_Imposition3_Imposed',
        name: 'Offence3_Imposition3_Imposed',
        value: data['Offence3_Imposition3_Imposed'],
        formGroup: {
          classes: "govuk-!-margin-bottom-4"
        },
        label: {
          html: 'Amount imposed',
          classes: 'govuk-!-font-weight-bold'
        },
        prefix: {
          text: "£"
        }
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukInput({
        id: 'Offence3_Imposition3_Paid',
        name: 'Offence3_Imposition3_Paid',
        value: data['Offence3_Imposition3_Paid'],
        formGroup: {
          classes: "govuk-!-margin-bottom-4"
        },
        label: {
          html: 'Amount paid',
          classes: 'govuk-!-font-weight-bold'
        },
        prefix: {
          text: "£"
        }
      }) }}
    </div>
  </div>

  <!-- CREDITOR DETAILS -->
  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 creditors" id="Offence3_Imposition3_Creditor_Add" style="display: none;">
    <div class="govuk-grid-column-full">
      
      <!-- SHOW THE MINOR CREDITOR IF FCOST OR FCOMP -->
      <div id="Offence3_Imposition3_Creditor_Show_Minor_Creditor" style="display: none;">
        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card__title-wrapper">
            <dl class="govuk-summary-list govuk-!-margin-bottom-0" >
              <div class="govuk-summary-list__row" style="border: none;">
                <dt class="govuk-summary-list__key">
                  Minor creditor
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['Offence3_Imposition3_Minor_Creditor_Type'] == "Individual" %}
                    {{data['Offence3_Imposition3_Minor_Creditor_First_Name']}} {{data['Offence3_Imposition3_Minor_Creditor_Last_Name']}}
                  {% elseif data['Offence3_Imposition3_Minor_Creditor_Type'] == "Company" %}
                    {{data['Offence3_Imposition3_Minor_Creditor_Company_Name']}}
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions" style="width: 40%;">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item" data-module="edge">
                      <a class="govuk-link govuk-link--no-visited-state" href="#" data-message="This has not been prototyped. It would show a summary of the details you entered for this minor creditor"><strong>Show details</strong><span class="govuk-visually-hidden"></span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state" href="./add-offence-3-minor-creditor-3.html"><strong>Change</strong><span class="govuk-visually-hidden"> minor creditor</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state" id="Offence3_Imposition3_Creditor_Remove" href="#"><strong>Remove</strong><span class="govuk-visually-hidden"> minor creditor</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      
      <!-- SHOW THE FORM IS NOTHING MINOR CREDITOR NOT ADDED -->
      <div id="Offence3_Imposition3_Creditor_Show_Form">
        {% set Offence3_Imposition3_Major_Creditor_HTML %}

        {{ xGovukAutocomplete({
          formGroup: {
            classes: "govuk-input--width-30"
          },
          id: "Offence3_Imposition3_Major_Creditor_Name",
          name: "Offence3_Imposition3_Major_Creditor_Name",
          value: data['Offence3_Imposition3_Major_Creditor_Name'],
          allowEmpty: false,
          displayMenu: "overlay",
          label: {
            classes: "govuk-label--s",
            text: "Search using name or code"
          },  
          items: [
          { text: "Abellio Greater Anglia Ltd (AGAL)" },
          { text: "Aldi (ALDI)" },
          { text: "Anglia Trains (ANGL)" },
          { text: "Asda (ASDA)" },
          { text: "Bedford Borough Council (BEDB)" },
          { text: "B & Q Stores (BNQL)" },
          { text: "Boots (BOOT)" },
          { text: "British Transport Police (BTPO)" },
          { text: "Cambridge City Council (CAMC)" },
          { text: "Charles & Ashby Revenue Ltd (CARV)" },
          { text: "Cambs County Council Education (CBC1)" },
          { text: "Cambridgeshire County Council. (CBCC)" },
          { text: "Central Trains (CENT)" },
          { text: "City of London Police (COLP)" },
          { text: "Co-Operative Group (COP2)" },
          { text: "Crown Prosecution Service (CPS)" },
          { text: "DVLA (DVL2)" },
          { text: "DVSA (DVSA)" },
          { text: "DWP DM (DWP1)" },
          { text: "East Cambs. District Council (ECDC)" },
          { text: "Abellio East Midlands Ltd (EMT1)" },
          { text: "Fenland District Council (FDC)" },
          { text: "Govia Thameslink Railway Ltd (GTLR)" },
          { text: "HMCTS (HMCS)" },
          { text: "HM Revenue and Customs (HMRC)" },
          { text: "Huntingdon District Council (HUDC)" },
          { text: "Iceland Stores (ICE1)" },
          { text: "Insolvency Service (INSS)" },
          { text: "John Lewis Stores (JLEW)" },
          { text: "PCC for Devon & Cornwall (PO50)" },
          { text: "Lidl Stores (LIDL)" },
          { text: "London North Eastern Railway (LNER)" },
          { text: "Merseyrail Electrics 2002 Ltd (METV)" },
          { text: "Morrisons (MORR)" },
          { text: "Marks and Spencer (MSP)" },
          { text: "Next (NEXT)" },
          { text: "NOMS (NOMS)" },
          { text: "Environment Agency (NRA1)" },
          { text: "Peterborough City Council (PCTC)" },
          { text: "Poundland (PLD)" },
          { text: "Metropolitan Police (PO01)" },
          { text: "PCC for Merseyside (PO05)" },
          { text: "PCC for North Yorkshire (PO12)" },
          { text: "PCC for West Midlands (PO20)" },
          { text: "PCC for Staffordshire (PO21)" },
          { text: "PCC for Derbyshire (PO30)" },
          { text: "PCC for Lincolnshire (PO32)" },
          { text: "PCC for Leicestershire (PO33)" },
          { text: "PCC for Northamptonshire (PO34)" },
          { text: "PCC for Cambridgeshire (PO35)" },
          { text: "PCC for Norfolk (PO36)" },
          { text: "PCC for Suffolk (PO37)" },
          { text: "PCC for Bedfordshire (PO40)" },
          { text: "PCC for Hertfordshire (PO41)" },
          { text: "PCC for Essex (PO42)" },
          { text: "PCC for Thames Valley (PO43)" },
          { text: "PCC for Hampshire (PO44)" },
          { text: "PCC for Surrey (PO45)" },
          { text: "PCC for Kent (PO46)" },
          { text: "Sussex Police (PO47)" },
          { text: "PCC for Avon & Somerset (PO52)" },
          { text: "PCC for Wiltshire (PO54)" },
          { text: "PCC for North Wales (PO60)" },
          { text: "PCC for South Wales (PO62)" },
          { text: "PCC for Dyfed Powys (PO63)" },
          { text: "RSPCA (RSPC)" },
          { text: "Sainsbury's (SAIN)" },
          { text: "South Cambridge D C (SCDC)" },
          { text: "Superdrug (SDRG)" },
          { text: "Tesco (TESC)" },
          { text: "Transport for London (TFL2)" },
          { text: "TK Maxx (TKMX)" },
          { text: "Transport Investigations Ltd (TRAN)" },
          { text: "Capital Business Services Ltd (TVL3)" },
          { text: "National Express Trains LTD (WAGN)" },
          { text: "Wilkinson Stores (WILK)" },
          { text: "Waitrose (WTRO)" }
          ]
        }) }}

        {% endset -%}

        {% set Offence3_Imposition3_Minor_Creditor_HTML %}
          <p class="govuk-body"><a href="./add-offence-3-minor-creditor-3.html" id="Offence3_Add_Creditor_Link" class="govuk-link govuk-link--no-visited-state">Add minor creditor details</a></p>
        {% endset -%}

        {{ govukRadios({
          formGroup: {
            classes: "govuk-!-margin-bottom-2"
          },
          name: "Offence3_Imposition3_Creditor_Type",
          value: data['Offence3_Imposition3_Creditor_Type'],
          id: "Offence3_Imposition3_Creditor_Type",
          fieldset: {
            legend: {
              text: "Add creditor",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Offence3_Imposition3_Major_Creditor",
              text: "Major creditor",
              conditional: {
                html: Offence3_Imposition3_Major_Creditor_HTML 
              }
            },
            {
              value: "Offence3_Imposition3_Minor_Creditor",
              text: "Minor creditor",
              conditional: {
                html: Offence3_Imposition3_Minor_Creditor_HTML
              }
            }
          ]
        }) }}
      </div>

    </div>
  </div>

  <!-- REMOVE LINK -->
  <div class="govuk-grid-row  govuk-!-margin-left-0 govuk-!-margin-right-0 creditors">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">Remove imposition</a></p>
    </div>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" id="Offence3_Add_Another_Imposition">
      Add another imposition
    </button>    

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button">
        Review offence
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" formaction="#">
        Add another offence
      </button>
    </div>

  </div>
</div>

</form>

<p class="govuk-body"><a class="govuk-link govuk-! govuk-link--no-visited-state" href="../../account-details.html">Cancel</a></p>


<script>
  document.addEventListener('DOMContentLoaded', function() {

    const ids = Array.from(document.querySelectorAll('[id]')).map(el => el.id);
    const duplicates = ids.filter((id, index) => ids.indexOf(id) !== index);
    console.log(duplicates);

   
    const inputElement = document.getElementById('Offence3_Code');
    const resultsContainer = document.getElementById('Offence3_Title_Container');
    const offenceTitleDisplay = document.getElementById('Offence3_Title_Title');

    // Load saved input value and visibility state from localStorage
    const savedInputValue = localStorage.getItem('Offence3_Code_Value');
    const savedResultsVisible = localStorage.getItem('Offence3_Results_Visible');

    if (savedInputValue) {
      inputElement.value = savedInputValue;
      updateOffenceTitleDisplay(savedInputValue);
    }

    if (savedResultsVisible === 'true') {
      resultsContainer.style.display = 'block';
    } else {
      resultsContainer.style.display = 'none';
    }

    inputElement.addEventListener('input', function() {
      const inputValue = inputElement.value.trim();

      // Toggle the display of the results based on input presence
      if (inputValue.length === 7) {
        resultsContainer.style.display = 'block'; // Show results when there is input
        updateOffenceTitleDisplay(inputValue);
      } else {
        resultsContainer.style.display = 'none'; // Hide results when input is empty
        offenceTitleDisplay.textContent = ''; // Clear offence title
      }

      // Save the current state to localStorage
      localStorage.setItem('Offence3_Code_Value', inputValue);
      localStorage.setItem('Offence3_Results_Visible', inputValue.length === 7);
    });

    function updateOffenceTitleDisplay(inputValue) {
    inputValue = inputValue.toUpperCase();
    switch (inputValue) {
      case 'RR84205':
          offenceTitleDisplay.textContent = "Speeding – exceed limit for type of vehicle (not goods/passenger vehicle) – manned equipment";
          break;
      case 'PH97003':
          offenceTitleDisplay.textContent = "Harassment – breach of a restraining order on conviction";
          break;
      case 'CD71039':
          offenceTitleDisplay.textContent = "Criminal Damage to property valued under £5000.00";
          break;
      case 'TH68010':
          offenceTitleDisplay.textContent = "Theft from a shop";
          break;
      case 'RT88567':
          offenceTitleDisplay.textContent = "Fail to give information relating to the identification of the driver/rider of a vehicle when required";
          break;
      case 'CJ88116':
          offenceTitleDisplay.textContent = "Assault by beating of an emergency worker";
          break;
      case 'TH68050':
          offenceTitleDisplay.textContent = "Take a motor vehicle without the owners consent";
          break;
      case 'TH68036':
          offenceTitleDisplay.textContent = "Burglary dwelling and theft – no violence";
          break;
      case 'TH68045':
          offenceTitleDisplay.textContent = "Aggravated Burglary – dwelling";
          break;
      case 'OF61017':
          offenceTitleDisplay.textContent = "Section 18 - Grievous Bodily Harm with Intent";
          break;
      default:
          offenceTitleDisplay.textContent = "Do an act to scare / deter trout / salmon";
      }
    }


    // Imposition 1 Variables
    const Offence3Imposition1resultCodeInput = document.getElementById('Offence3_Imposition1_Result_Code');
    const Offence3Imposition1imposedInput = document.getElementById('Offence3_Imposition1_Imposed');
    const Offence3Imposition1paidInput = document.getElementById('Offence3_Imposition1_Paid');
    const Offence3Imposition1addCreditorSection = document.getElementById('Offence3_Imposition1_Creditor_Add');
    const Offence3Imposition1removeImpositionLink = document.getElementById('Offence3_Imposition1_Creditor_Remove');
    const Offence3Imposition1addCreditorForm = document.getElementById('Offence3_Imposition1_Creditor_Show_Form');
    const Offence3Imposition1minorCreditorDetails = document.getElementById('Offence3_Imposition1_Creditor_Show_Minor_Creditor');

    // Imposition 2 Variables
    const Offence3Imposition2resultCodeInput = document.getElementById('Offence3_Imposition2_Result_Code');
    const Offence3Imposition2imposedInput = document.getElementById('Offence3_Imposition2_Imposed');
    const Offence3Imposition2paidInput = document.getElementById('Offence3_Imposition2_Paid');
    const Offence3Imposition2addCreditorSection = document.getElementById('Offence3_Imposition2_Creditor_Add');
    const Offence3Imposition2removeImpositionLink = document.getElementById('Offence3_Imposition2_Creditor_Remove');
    const Offence3Imposition2addCreditorForm = document.getElementById('Offence3_Imposition2_Creditor_Show_Form');
    const Offence3Imposition2minorCreditorDetails = document.getElementById('Offence3_Imposition2_Creditor_Show_Minor_Creditor');


    // Imposition 2 Variables
    const Offence3Imposition3resultCodeInput = document.getElementById('Offence3_Imposition3_Result_Code');
    const Offence3Imposition3imposedInput = document.getElementById('Offence3_Imposition3_Imposed');
    const Offence3Imposition3paidInput = document.getElementById('Offence3_Imposition3_Paid');
    const Offence3Imposition3addCreditorSection = document.getElementById('Offence3_Imposition3_Creditor_Add');
    const Offence3Imposition3removeImpositionLink = document.getElementById('Offence3_Imposition3_Creditor_Remove');
    const Offence3Imposition3addCreditorForm = document.getElementById('Offence3_Imposition3_Creditor_Show_Form');
    const Offence3Imposition3minorCreditorDetails = document.getElementById('Offence3_Imposition3_Creditor_Show_Minor_Creditor');


    // Add Another Imposition
    const Offence3addAnotherImpositionButton = document.getElementById('Offence3_Add_Another_Imposition');
    const Offence3imposition2Container = document.getElementById('Offence3_Imposition2_Container');
    const Offence3imposition3Container = document.getElementById('Offence3_Imposition3_Container');

    // Show Imposition 2 if it was previously added
    if (localStorage.getItem('Offence3Imposition2_Added') === 'true') {
        Offence3imposition2Container.style.display = 'block';
    }

    // Show Imposition 3 if it was previously added
    if (localStorage.getItem('Offence3Imposition3_Added') === 'true') {
        Offence3imposition3Container.style.display = 'block';
    }

    // Show Imposition 2 and store the state when the button is clicked
    Offence3addAnotherImpositionButton.addEventListener('click', function() {
        if (Offence3imposition2Container.style.display === 'none') {
            Offence3imposition2Container.style.display = 'block';
            localStorage.setItem('Offence3Imposition2_Added', 'true');
        } else if (Offence3imposition3Container.style.display === 'none') {
            Offence3imposition3Container.style.display = 'block';
            localStorage.setItem('Offence3Imposition3_Added', 'true');
        }
    });

    // To mark if Imposition 2 has been added
    Offence3Imposition2imposedInput.addEventListener('input', function() {
        if (Offence3Imposition2imposedInput.value.trim() !== '') {
            localStorage.setItem('Offence3_Imposition2_Entered', 'true');
        } else {
          localStorage.removeItem('Offence3_Imposition2_Entered');
        }
    });

    if (Offence3Imposition2imposedInput.value.trim() !== '') {
      localStorage.setItem('Offence3_Imposition2_Entered', 'true');
    } else {
      localStorage.removeItem('Offence3_Imposition2_Entered');
    }

    // To mark if Imposition 3 has been added
    Offence3Imposition3imposedInput.addEventListener('input', function() {
        if (Offence3Imposition3imposedInput.value.trim() !== '') {
            localStorage.setItem('Offence3_Imposition3_Entered', 'true');
        } else {
          localStorage.removeItem('Offence3_Imposition3_Entered');
        }
    });

    if (Offence3Imposition3imposedInput.value.trim() !== '') {
      localStorage.setItem('Offence3_Imposition3_Entered', 'true');
    } else {
      localStorage.removeItem('Offence3_Imposition3_Entered');
    }

    // Function to check the selected result code and show/hide the add-creditor section
    function checkResultCode(input, section) {
        const selectedOption = input.value.trim();
        if (selectedOption === 'Costs (FCOST)' || selectedOption === 'Compensation (FCOMP)') {
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    }

    // Save data to localStorage
    function saveData(prefix, resultCodeInput, imposedInput, paidInput) {
        localStorage.setItem(prefix + 'impositionResultCode', resultCodeInput.value);
        localStorage.setItem(prefix + 'impositionImposed', imposedInput.value);
        localStorage.setItem(prefix + 'impositionPaid', paidInput.value);
    }

    // Load data from localStorage
    function loadData(prefix, resultCodeInput, imposedInput, paidInput, section, minorCreditorDetails, addCreditorForm) {
        if (localStorage.getItem(prefix + 'impositionResultCode')) {
            resultCodeInput.value = localStorage.getItem(prefix + 'impositionResultCode');
        }
        if (localStorage.getItem(prefix + 'impositionImposed')) {
            imposedInput.value = localStorage.getItem(prefix + 'impositionImposed');
        }
        if (localStorage.getItem(prefix + 'impositionPaid')) {
            paidInput.value = localStorage.getItem(prefix + 'impositionPaid');
        }
        checkResultCode(resultCodeInput, section);
        if (localStorage.getItem(prefix + 'Minor_Creditor_Added') === 'true') {
            minorCreditorDetails.style.display = 'block';
            addCreditorForm.style.display = 'none';
        } else {
            minorCreditorDetails.style.display = 'none';
            addCreditorForm.style.display = 'block';
        }
    }

    // Show Imposition 2 if it was previously added
    if (localStorage.getItem('Offence3Imposition2_Added') === 'true') {
        Offence3imposition2Container.style.display = 'block';
    }

    // Show Imposition 2 and store the state when the button is clicked
    Offence3addAnotherImpositionButton.addEventListener('click', function() {
        Offence3imposition2Container.style.display = 'block';
        localStorage.setItem('Offence3Imposition2_Added', 'true');
    });

    // To mark if Imposition 2 has been added
    Offence3Imposition2imposedInput.addEventListener('input', function() {
        if (Offence3Imposition2imposedInput.value.trim() !== '') {
            localStorage.setItem('Offence3_Imposition2_Entered', 'true');
        } else {
          localStorage.removeItem('Offence3_Imposition2_Entered');
        }
    });

    if (Offence3Imposition2imposedInput.value.trim() !== '') {
      localStorage.setItem('Offence3_Imposition2_Entered', 'true');
    } else {
      localStorage.removeItem('Offence3_Imposition2_Entered');
    }

    // Function to check the selected result code and show/hide the add-creditor section
    function checkResultCode(input, section) {
        const selectedOption = input.value.trim();
        if (selectedOption === 'Costs (FCOST)' || selectedOption === 'Compensation (FCOMP)') {
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    }

    // Save data to localStorage
    function saveData(prefix, resultCodeInput, imposedInput, paidInput) {
        localStorage.setItem(prefix + 'impositionResultCode', resultCodeInput.value);
        localStorage.setItem(prefix + 'impositionImposed', imposedInput.value);
        localStorage.setItem(prefix + 'impositionPaid', paidInput.value);
    }

    // Load data from localStorage
    function loadData(prefix, resultCodeInput, imposedInput, paidInput, section, minorCreditorDetails, addCreditorForm) {
        if (localStorage.getItem(prefix + 'impositionResultCode')) {
            resultCodeInput.value = localStorage.getItem(prefix + 'impositionResultCode');
        }
        if (localStorage.getItem(prefix + 'impositionImposed')) {
            imposedInput.value = localStorage.getItem(prefix + 'impositionImposed');
        }
        if (localStorage.getItem(prefix + 'impositionPaid')) {
            paidInput.value = localStorage.getItem(prefix + 'impositionPaid');
        }
        checkResultCode(resultCodeInput, section);
        if (localStorage.getItem(prefix + 'Minor_Creditor_Added') === 'true') {
            minorCreditorDetails.style.display = 'block';
            addCreditorForm.style.display = 'none';
        } else {
            minorCreditorDetails.style.display = 'none';
            addCreditorForm.style.display = 'block';
        }
    }

    // Add event listeners
    Offence3Imposition1resultCodeInput.addEventListener('change', function() {
        checkResultCode(Offence3Imposition1resultCodeInput, Offence3Imposition1addCreditorSection);
        saveData('Offence3_Imposition1_', Offence3Imposition1resultCodeInput, Offence3Imposition1imposedInput, Offence3Imposition1paidInput);
        localStorage.removeItem('Offence3_Imposition1_Minor_Creditor_Added'); // Reset the minor creditor flag
    });
    Offence3Imposition1imposedInput.addEventListener('input', function() {
        saveData('Offence3_Imposition1_', Offence3Imposition1resultCodeInput, Offence3Imposition1imposedInput, Offence3Imposition1paidInput);
    });
    Offence3Imposition1paidInput.addEventListener('input', function() {
        saveData('Offence3_Imposition1_', Offence3Imposition1resultCodeInput, Offence3Imposition1imposedInput, Offence3Imposition1paidInput);
    });

    // Handle remove imposition click
    Offence3Imposition1removeImpositionLink.addEventListener('click', function(event) {
        event.preventDefault();
        localStorage.removeItem('Offence3_Imposition1_Minor_Creditor_Added'); // Reset the minor creditor flag
        Offence3Imposition1minorCreditorDetails.style.display = 'none';
        Offence3Imposition1addCreditorForm.style.display = 'block';
    });

    // Add event listeners for Imposition 2
    Offence3Imposition2resultCodeInput.addEventListener('change', function() {
        checkResultCode(Offence3Imposition2resultCodeInput, Offence3Imposition2addCreditorSection);
        saveData('Offence3_Imposition2_', Offence3Imposition2resultCodeInput, Offence3Imposition2imposedInput, Offence3Imposition2paidInput);
        localStorage.removeItem('Offence3_Imposition2_Minor_Creditor_Added'); // Reset the minor creditor flag
    });
    Offence3Imposition2imposedInput.addEventListener('input', function() {
        saveData('Offence3_Imposition2_', Offence3Imposition2resultCodeInput, Offence3Imposition2imposedInput, Offence3Imposition2paidInput);
    });
    Offence3Imposition2paidInput.addEventListener('input', function() {
        saveData('Offence3_Imposition2_', Offence3Imposition2resultCodeInput, Offence3Imposition2imposedInput, Offence3Imposition2paidInput);
    });

    // Handle remove imposition click for Imposition 2
    Offence3Imposition2removeImpositionLink.addEventListener('click', function(event) {
        event.preventDefault();
        localStorage.removeItem('Offence3_Imposition2_Minor_Creditor_Added'); // Reset the minor creditor flag
        Offence3Imposition2minorCreditorDetails.style.display = 'none';
        Offence3Imposition2addCreditorForm.style.display = 'block';
    });

    // Add event listeners for Imposition 3
    Offence3Imposition3resultCodeInput.addEventListener('change', function() {
        checkResultCode(Offence3Imposition3resultCodeInput, Offence3Imposition3addCreditorSection);
        saveData('Offence3_Imposition3_', Offence3Imposition3resultCodeInput, Offence3Imposition3imposedInput, Offence3Imposition3paidInput);
        localStorage.removeItem('Offence3_Imposition3_Minor_Creditor_Added'); // Reset the minor creditor flag
    });
    Offence3Imposition3imposedInput.addEventListener('input', function() {
        saveData('Offence3_Imposition3_', Offence3Imposition3resultCodeInput, Offence3Imposition3imposedInput, Offence3Imposition3paidInput);
    });
    Offence3Imposition3paidInput.addEventListener('input', function() {
        saveData('Offence3_Imposition3_', Offence3Imposition3resultCodeInput, Offence3Imposition3imposedInput, Offence3Imposition3paidInput);
    });

    // Handle remove imposition click for Imposition 3
    Offence3Imposition3removeImpositionLink.addEventListener('click', function(event) {
        event.preventDefault();
        localStorage.removeItem('Offence3_Imposition3_Minor_Creditor_Added'); // Reset the minor creditor flag
        Offence3Imposition3minorCreditorDetails.style.display = 'none';
        Offence3Imposition3addCreditorForm.style.display = 'block';
    });

     // Load Imposition 1 data
    const Offence3imposition1CreditorType = localStorage.getItem('Offence3_Imposition1_Creditor_Type');
    if (Offence3imposition1CreditorType) {
        document.querySelector(`input[name="Offence3_Imposition1_Creditor_Type"][value="${Offence3imposition1CreditorType}"]`).checked = true;
    }
    const Offence3imposition1MajorCreditorName = localStorage.getItem('Offence3_Imposition1_Major_Creditor_Name');
    if (Offence3imposition1MajorCreditorName) {
        document.getElementById('Offence3_Imposition1_Major_Creditor_Name').value = Offence3imposition1MajorCreditorName;
    }

    // Load Imposition 2 data
    const Offence3imposition2CreditorType = localStorage.getItem('Offence3_Imposition2_Creditor_Type');
    if (Offence3imposition2CreditorType) {
        document.querySelector(`input[name="Offence3_Imposition2_Creditor_Type"][value="${Offence3imposition2CreditorType}"]`).checked = true;
    }
    const Offence3imposition2MajorCreditorName = localStorage.getItem('Offence3_Imposition2_Major_Creditor_Name');
    if (Offence3imposition2MajorCreditorName) {
        document.getElementById('Offence3_Imposition2_Major_Creditor_Name').value = Offence3imposition2MajorCreditorName;
    }

    // Load Imposition 3 data
    const Offence3imposition3CreditorType = localStorage.getItem('Offence3_Imposition3_Creditor_Type');
    if (Offence3imposition3CreditorType) {
        document.querySelector(`input[name="Offence3_Imposition3_Creditor_Type"][value="${Offence3imposition3CreditorType}"]`).checked = true;
    }
    const Offence3imposition3MajorCreditorName = localStorage.getItem('Offence3_Imposition3_Major_Creditor_Name');
    if (Offence3imposition3MajorCreditorName) {
        document.getElementById('Offence3_Imposition3_Major_Creditor_Name').value = Offence3imposition3MajorCreditorName;
    }

    // Initial load
    loadData('Offence3_Imposition1_', Offence3Imposition1resultCodeInput, Offence3Imposition1imposedInput, Offence3Imposition1paidInput, Offence3Imposition1addCreditorSection, Offence3Imposition1minorCreditorDetails, Offence3Imposition1addCreditorForm);
    loadData('Offence3_Imposition2_', Offence3Imposition2resultCodeInput, Offence3Imposition2imposedInput, Offence3Imposition2paidInput, Offence3Imposition2addCreditorSection, Offence3Imposition2minorCreditorDetails, Offence3Imposition2addCreditorForm);
    loadData('Offence3_Imposition3_', Offence3Imposition3resultCodeInput, Offence3Imposition3imposedInput, Offence3Imposition3paidInput, Offence3Imposition3addCreditorSection, Offence3Imposition3minorCreditorDetails, Offence3Imposition3addCreditorForm);

    // Load saved date of sentence from localStorage
    const savedOffenceDate = localStorage.getItem('Offence3_Date_Of_Sentence');
    if (savedOffenceDate) {
      document.getElementById('Offence3_Date_Of_Sentence').value = savedOffenceDate;
    }

    document.querySelectorAll('#Offence3_Add_Creditor_Link').forEach(link => {
      link.addEventListener('click', function() {
          // Save Imposition 1 data
          const Offence3imposition1CreditorType = document.querySelector('input[name="Offence3_Imposition1_Creditor_Type"]:checked');
          if (Offence3imposition1CreditorType) {
              localStorage.setItem('Offence3_Imposition1_Creditor_Type', Offence3imposition1CreditorType.value);
          }
          const Offence3imposition1MajorCreditorName = document.getElementById('Offence3_Imposition1_Major_Creditor_Name');
          if (Offence3imposition1MajorCreditorName) {
              localStorage.setItem('Offence3_Imposition1_Major_Creditor_Name', Offence3imposition1MajorCreditorName.value);
          }

          // Save Imposition 2 data
          const Offence3imposition2CreditorType = document.querySelector('input[name="Offence3_Imposition2_Creditor_Type"]:checked');
          if (Offence3imposition2CreditorType) {
              localStorage.setItem('Offence3_Imposition2_Creditor_Type', Offence3imposition2CreditorType.value);
          }
          const Offence3imposition2MajorCreditorName = document.getElementById('Offence3_Imposition2_Major_Creditor_Name');
          if (Offence3imposition2MajorCreditorName) {
              localStorage.setItem('Offence3_Imposition2_Major_Creditor_Name', Offence3imposition2MajorCreditorName.value);
          }

          // Save Imposition 3 data
          const Offence3imposition3CreditorType = document.querySelector('input[name="Offence3_Imposition3_Creditor_Type"]:checked');
          if (Offence3imposition3CreditorType) {
              localStorage.setItem('Offence3_Imposition3_Creditor_Type', Offence3imposition3CreditorType.value);
          }
          const Offence3imposition3MajorCreditorName = document.getElementById('Offence3_Imposition3_Major_Creditor_Name');
          if (Offence3imposition3MajorCreditorName) {
              localStorage.setItem('Offence3_Imposition3_Major_Creditor_Name', Offence3imposition3MajorCreditorName.value);
          }

          // Save Offence3_Date_Of_Sentence
          const offenceDate = document.getElementById('Offence3_Date_Of_Sentence').value;
          if (offenceDate) {
            localStorage.setItem('Offence3_Date_Of_Sentence', offenceDate);
          }
      });
    });
});

</script>



{% endblock %}
