{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ mojHeader({
    navigationClasses: 'govuk-width-container',
    organisationLabel: {
      text: 'HMCTS',
      href: '../index.html'
    },
    serviceLabel: {
      text: 'Opal',
      href: '../index.html'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Sign out',
        href: '#'
      }]
    }
}) }}
  <!-- {{ govukHeader({
    homepageUrl: "#"
  }) }} -->

  
{% endblock %}

